In [1]:
from liveF1Wrapper.adapter import LivetimingF1Adapter, LivetimingF1Request, LivetimingF1GetData
from liveF1Wrapper.season import Season
from liveF1Wrapper.functions import *
from liveF1Wrapper.events import *
import urllib
import json
import numpy as np

In [31]:
endpoint = "https://livetiming.formula1.com/static/2024/2024-09-01_Italian_Grand_Prix/2024-09-01_Race/TeamRadio.jsonStream"
data = LivetimingF1GetData(endpoint, stream=True)
data

{'00:16:59.952': {'Captures': [{'Utc': '2024-09-01T12:24:46.541Z',
    'RacingNumber': '14',
    'Path': 'TeamRadio/FERALO01_14_20240901_142412.mp3'}]},
 '00:18:06.018': {'Captures': {'1': {'Utc': '2024-09-01T12:25:54.057Z',
    'RacingNumber': '4',
    'Path': 'TeamRadio/LANNOR01_4_20240901_142542.mp3'}}},
 '00:21:56.807': {'Captures': {'2': {'Utc': '2024-09-01T12:29:44.701Z',
    'RacingNumber': '10',
    'Path': 'TeamRadio/PIEGAS01_10_20240901_142858.mp3'}}},
 '00:48:20.290': {'Captures': {'3': {'Utc': '2024-09-01T12:56:07.02Z',
    'RacingNumber': '3',
    'Path': 'TeamRadio/DANRIC01_3_20240901_145543.mp3'},
   '4': {'Utc': '2024-09-01T12:56:09.109Z',
    'RacingNumber': '16',
    'Path': 'TeamRadio/CHALEC01_16_20240901_145557.mp3'}}},
 '00:51:40.764': {'Captures': {'5': {'Utc': '2024-09-01T12:59:26.012Z',
    'RacingNumber': '81',
    'Path': 'TeamRadio/OSCPIA01_81_20240901_145909.mp3'}}},
 '00:55:31.452': {'Captures': {'6': {'Utc': '2024-09-01T13:03:17.821Z',
    'RacingNumber': '77',
    'Path': 'TeamRadio/VALBOT01_77_20240901_150252.mp3'}}},
 '00:57:43.384': {'Captures': {'7': {'Utc': '2024-09-01T13:05:30.784Z',
    'RacingNumber': '1',
    'Path': 'TeamRadio/MAXVER01_1_20240901_150504.mp3'}}},
 '00:59:22.526': {'Captures': {'8': {'Utc': '2024-09-01T13:07:11.109Z',
    'RacingNumber': '11',
    'Path': 'TeamRadio/SERPER01_11_20240901_150642.mp3'}}},
 '00:59:57.259': {'Captures': {'9': {'Utc': '2024-09-01T13:07:42.379Z',
    'RacingNumber': '63',
    'Path': 'TeamRadio/GEORUS01_63_20240901_150705.mp3'}}},
 '01:01:02.391': {'Captures': {'10': {'Utc': '2024-09-01T13:08:48.9090646Z',
    'RacingNumber': '27',
    'Path': 'TeamRadio/NICHUL01_27_20240901_150829.mp3'}}},
 '01:05:28.120': {'Captures': {'11': {'Utc': '2024-09-01T13:13:13.005Z',
    'RacingNumber': '81',
    'Path': 'TeamRadio/OSCPIA01_81_20240901_151235.mp3'}}},
 '01:05:59.532': {'Captures': {'12': {'Utc': '2024-09-01T13:13:47.132Z',
    'RacingNumber': '1',
    'Path': 'TeamRadio/MAXVER01_1_20240901_151337.mp3'}}},
 '01:11:29.426': {'Captures': {'13': {'Utc': '2024-09-01T13:19:17.951Z',
    'RacingNumber': '81',
    'Path': 'TeamRadio/OSCPIA01_81_20240901_151853.mp3'},
   '14': {'Utc': '2024-09-01T13:19:17.951Z',
    'RacingNumber': '31',
    'Path': 'TeamRadio/ESTOCO01_31_20240901_151859.mp3'}}},
 '01:15:54.758': {'Captures': {'15': {'Utc': '2024-09-01T13:23:39.818Z',
    'RacingNumber': '4',
    'Path': 'TeamRadio/LANNOR01_4_20240901_152319.mp3'}}},
 '01:16:59.943': {'Captures': {'16': {'Utc': '2024-09-01T13:24:45.547Z',
    'RacingNumber': '16',
    'Path': 'TeamRadio/CHALEC01_16_20240901_152422.mp3'}}},
 '01:18:38.097': {'Captures': {'17': {'Utc': '2024-09-01T13:26:24.627Z',
    'RacingNumber': '11',
    'Path': 'TeamRadio/SERPER01_11_20240901_152548.mp3'},
   '18': {'Utc': '2024-09-01T13:26:24.735Z',
    'RacingNumber': '55',
    'Path': 'TeamRadio/CARSAI01_55_20240901_152606.mp3'}}},
 '01:19:45.396': {'Captures': {'19': {'Utc': '2024-09-01T13:27:30.986Z',
    'RacingNumber': '16',
    'Path': 'TeamRadio/CHALEC01_16_20240901_152652.mp3'}}},
 '01:20:50.582': {'Captures': {'20': {'Utc': '2024-09-01T13:28:37.294Z',
    'RacingNumber': '4',
    'Path': 'TeamRadio/LANNOR01_4_20240901_152758.mp3'}}},
 '01:28:01.711': {'Captures': {'21': {'Utc': '2024-09-01T13:35:46.422Z',
    'RacingNumber': '4',
    'Path': 'TeamRadio/LANNOR01_4_20240901_153532.mp3'}}},
 '01:29:38.876': {'Captures': {'22': {'Utc': '2024-09-01T13:37:25.925Z',
    'RacingNumber': '1',
    'Path': 'TeamRadio/MAXVER01_1_20240901_153657.mp3'}}},
 '01:33:29.905': {'Captures': {'23': {'Utc': '2024-09-01T13:41:16.505Z',
    'RacingNumber': '44',
    'Path': 'TeamRadio/LEWHAM01_44_20240901_154050.mp3'}}},
 '01:35:42.993': {'Captures': {'24': {'Utc': '2024-09-01T13:43:28.708Z',
    'RacingNumber': '20',
    'Path': 'TeamRadio/KEVMAG01_20_20240901_154256.mp3'}}},
 '01:39:00.391': {'Captures': {'25': {'Utc': '2024-09-01T13:46:48.562Z',
    'RacingNumber': '16',
    'Path': 'TeamRadio/CHALEC01_16_20240901_154627.mp3'},
   '26': {'Utc': '2024-09-01T13:46:48.7688602Z',
    'RacingNumber': '20',
    'Path': 'TeamRadio/KEVMAG01_20_20240901_154635.mp3'}}},
 '01:41:14.421': {'Captures': {'27': {'Utc': '2024-09-01T13:49:02.812Z',
    'RacingNumber': '11',
    'Path': 'TeamRadio/SERPER01_11_20240901_154840.mp3'}}},
 '01:42:20.473': {'Captures': {'28': {'Utc': '2024-09-01T13:50:07.97Z',
    'RacingNumber': '1',
    'Path': 'TeamRadio/MAXVER01_1_20240901_154937.mp3'}}},
 '01:42:54.138': {'Captures': {'29': {'Utc': '2024-09-01T13:50:40.544Z',
    'RacingNumber': '4',
    'Path': 'TeamRadio/LANNOR01_4_20240901_155020.mp3'}}},
 '01:44:00.095': {'Captures': {'30': {'Utc': '2024-09-01T13:51:48.288Z',
    'RacingNumber': '23',
    'Path': 'TeamRadio/ALEALB01_23_20240901_155118.mp3'}}},
 '01:46:45.765': {'Captures': {'31': {'Utc': '2024-09-01T13:54:33.848Z',
    'RacingNumber': '81',
    'Path': 'TeamRadio/OSCPIA01_81_20240901_155413.mp3'}}},
 '01:47:20.006': {'Captures': {'32': {'Utc': '2024-09-01T13:55:05.845Z',
    'RacingNumber': '1',
    'Path': 'TeamRadio/MAXVER01_1_20240901_155456.mp3'}}},
 '01:49:00.318': {'Captures': {'33': {'Utc': '2024-09-01T13:56:45.334Z',
    'RacingNumber': '81',
    'Path': 'TeamRadio/OSCPIA01_81_20240901_155610.mp3'}}},
 '01:54:28.874': {'Captures': {'34': {'Utc': '2024-09-01T14:02:15.576Z',
    'RacingNumber': '44',
    'Path': 'TeamRadio/LEWHAM01_44_20240901_160143.mp3'}}},
 '01:55:02.046': {'Captures': {'35': {'Utc': '2024-09-01T14:02:50.226Z',
    'RacingNumber': '27',
    'Path': 'TeamRadio/NICHUL01_27_20240901_160232.mp3'},
   '36': {'Utc': '2024-09-01T14:02:50.226Z',
    'RacingNumber': '4',
    'Path': 'TeamRadio/LANNOR01_4_20240901_160239.mp3'}}},
 '01:57:14.152': {'Captures': {'37': {'Utc': '2024-09-01T14:05:00.859Z',
    'RacingNumber': '27',
    'Path': 'TeamRadio/NICHUL01_27_20240901_160441.mp3'}}},
 '01:58:53.702': {'Captures': {'38': {'Utc': '2024-09-01T14:06:40.856Z',
    'RacingNumber': '55',
    'Path': 'TeamRadio/CARSAI01_55_20240901_160606.mp3'}}},
 '01:59:27.098': {'Captures': {'39': {'Utc': '2024-09-01T14:07:13.723Z',
    'RacingNumber': '44',
    'Path': 'TeamRadio/LEWHAM01_44_20240901_160647.mp3'}}},
 '02:01:39.760': {'Captures': {'40': {'Utc': '2024-09-01T14:09:26.375Z',
    'RacingNumber': '16',
    'Path': 'TeamRadio/CHALEC01_16_20240901_160915.mp3'}}},
 '02:02:12.999': {'Captures': {'41': {'Utc': '2024-09-01T14:10:01.38Z',
    'RacingNumber': '63',
    'Path': 'TeamRadio/GEORUS01_63_20240901_160942.mp3'}}},
 '02:04:24.776': {'Captures': {'42': {'Utc': '2024-09-01T14:12:11.742Z',
    'RacingNumber': '1',
    'Path': 'TeamRadio/MAXVER01_1_20240901_161140.mp3'}}},
 '02:12:41.757': {'Captures': {'43': {'Utc': '2024-09-01T14:20:29.053Z',
    'RacingNumber': '16',
    'Path': 'TeamRadio/CHALEC01_16_20240901_161929.mp3'}}},
 '02:12:50.731': {'Captures': {'60': {'Utc': '2024-09-01T14:20:34.649Z',
    'RacingNumber': '3',
    'Path': 'TeamRadio/DANRIC01_3_20240901_163021.mp3'},
   '61': {'Utc': '2024-09-01T14:20:34.649Z',
    'RacingNumber': '10',
    'Path': 'TeamRadio/PIEGAS01_10_20240901_163013.mp3'},
   '62': {'Utc': '2024-09-01T14:20:34.649Z',
    'RacingNumber': '10',
    'Path': 'TeamRadio/PIEGAS01_10_20240901_163045.mp3'},
   '63': {'Utc': '2024-09-01T14:20:34.649Z',
    'RacingNumber': '31',
    'Path': 'TeamRadio/ESTOCO01_31_20240901_163046.mp3'},
   '64': {'Utc': '2024-09-01T14:20:34.649Z',
    'RacingNumber': '3',
    'Path': 'TeamRadio/DANRIC01_3_20240901_163049.mp3'}}}}

In [38]:
def parse_helper(info, record, prefix=""):
    for info_k, info_v in info.items():
        if isinstance(info_v, list): record = {**record, **{**{k : v  for sector_no in range(len(info_v)) for k,v in info_v[sector_no].items()}}}
        elif isinstance(info_v, dict): record = parse_helper(info_v, record)
        else: record = {**record, **{prefix + info_k : info_v}}
    return record

records = []

for ts, ts_value in data.items():
    for capture in ts_value["Captures"]:
        record = {
            "SessionKey": 0,
            "timestamp": ts
        }

        
        
        print(parse_helper(ts_value, record))

    records.append(record)

{'SessionKey': 0, 'timestamp': '00:16:59.952', 'Utc': '2024-09-01T12:24:46.541Z', 'RacingNumber': '14', 'Path': 'TeamRadio/FERALO01_14_20240901_142412.mp3'}
{'SessionKey': 0, 'timestamp': '00:18:06.018', 'Utc': '2024-09-01T12:25:54.057Z', 'RacingNumber': '4', 'Path': 'TeamRadio/LANNOR01_4_20240901_142542.mp3'}
{'SessionKey': 0, 'timestamp': '00:21:56.807', 'Utc': '2024-09-01T12:29:44.701Z', 'RacingNumber': '10', 'Path': 'TeamRadio/PIEGAS01_10_20240901_142858.mp3'}
{'SessionKey': 0, 'timestamp': '00:48:20.290', 'Utc': '2024-09-01T12:56:09.109Z', 'RacingNumber': '16', 'Path': 'TeamRadio/CHALEC01_16_20240901_145557.mp3'}
{'SessionKey': 0, 'timestamp': '00:48:20.290', 'Utc': '2024-09-01T12:56:09.109Z', 'RacingNumber': '16', 'Path': 'TeamRadio/CHALEC01_16_20240901_145557.mp3'}
{'SessionKey': 0, 'timestamp': '00:51:40.764', 'Utc': '2024-09-01T12:59:26.012Z', 'RacingNumber': '81', 'Path': 'TeamRadio/OSCPIA01_81_20240901_145909.mp3'}
{'SessionKey': 0, 'timestamp': '00:55:31.452', 'Utc': '2024-09-01T13:03:17.821Z', 'RacingNumber': '77', 'Path': 'TeamRadio/VALBOT01_77_20240901_150252.mp3'}
{'SessionKey': 0, 'timestamp': '00:57:43.384', 'Utc': '2024-09-01T13:05:30.784Z', 'RacingNumber': '1', 'Path': 'TeamRadio/MAXVER01_1_20240901_150504.mp3'}
{'SessionKey': 0, 'timestamp': '00:59:22.526', 'Utc': '2024-09-01T13:07:11.109Z', 'RacingNumber': '11', 'Path': 'TeamRadio/SERPER01_11_20240901_150642.mp3'}
{'SessionKey': 0, 'timestamp': '00:59:57.259', 'Utc': '2024-09-01T13:07:42.379Z', 'RacingNumber': '63', 'Path': 'TeamRadio/GEORUS01_63_20240901_150705.mp3'}
{'SessionKey': 0, 'timestamp': '01:01:02.391', 'Utc': '2024-09-01T13:08:48.9090646Z', 'RacingNumber': '27', 'Path': 'TeamRadio/NICHUL01_27_20240901_150829.mp3'}
{'SessionKey': 0, 'timestamp': '01:05:28.120', 'Utc': '2024-09-01T13:13:13.005Z', 'RacingNumber': '81', 'Path': 'TeamRadio/OSCPIA01_81_20240901_151235.mp3'}
{'SessionKey': 0, 'timestamp': '01:05:59.532', 'Utc': '2024-09-01T13:13:47.132Z', 'RacingNumber': '1', 'Path': 'TeamRadio/MAXVER01_1_20240901_151337.mp3'}
{'SessionKey': 0, 'timestamp': '01:11:29.426', 'Utc': '2024-09-01T13:19:17.951Z', 'RacingNumber': '31', 'Path': 'TeamRadio/ESTOCO01_31_20240901_151859.mp3'}
{'SessionKey': 0, 'timestamp': '01:11:29.426', 'Utc': '2024-09-01T13:19:17.951Z', 'RacingNumber': '31', 'Path': 'TeamRadio/ESTOCO01_31_20240901_151859.mp3'}
{'SessionKey': 0, 'timestamp': '01:15:54.758', 'Utc': '2024-09-01T13:23:39.818Z', 'RacingNumber': '4', 'Path': 'TeamRadio/LANNOR01_4_20240901_152319.mp3'}
{'SessionKey': 0, 'timestamp': '01:16:59.943', 'Utc': '2024-09-01T13:24:45.547Z', 'RacingNumber': '16', 'Path': 'TeamRadio/CHALEC01_16_20240901_152422.mp3'}
{'SessionKey': 0, 'timestamp': '01:18:38.097', 'Utc': '2024-09-01T13:26:24.735Z', 'RacingNumber': '55', 'Path': 'TeamRadio/CARSAI01_55_20240901_152606.mp3'}
{'SessionKey': 0, 'timestamp': '01:18:38.097', 'Utc': '2024-09-01T13:26:24.735Z', 'RacingNumber': '55', 'Path': 'TeamRadio/CARSAI01_55_20240901_152606.mp3'}
{'SessionKey': 0, 'timestamp': '01:19:45.396', 'Utc': '2024-09-01T13:27:30.986Z', 'RacingNumber': '16', 'Path': 'TeamRadio/CHALEC01_16_20240901_152652.mp3'}
{'SessionKey': 0, 'timestamp': '01:20:50.582', 'Utc': '2024-09-01T13:28:37.294Z', 'RacingNumber': '4', 'Path': 'TeamRadio/LANNOR01_4_20240901_152758.mp3'}
{'SessionKey': 0, 'timestamp': '01:28:01.711', 'Utc': '2024-09-01T13:35:46.422Z', 'RacingNumber': '4', 'Path': 'TeamRadio/LANNOR01_4_20240901_153532.mp3'}
{'SessionKey': 0, 'timestamp': '01:29:38.876', 'Utc': '2024-09-01T13:37:25.925Z', 'RacingNumber': '1', 'Path': 'TeamRadio/MAXVER01_1_20240901_153657.mp3'}
{'SessionKey': 0, 'timestamp': '01:33:29.905', 'Utc': '2024-09-01T13:41:16.505Z', 'RacingNumber': '44', 'Path': 'TeamRadio/LEWHAM01_44_20240901_154050.mp3'}
{'SessionKey': 0, 'timestamp': '01:35:42.993', 'Utc': '2024-09-01T13:43:28.708Z', 'RacingNumber': '20', 'Path': 'TeamRadio/KEVMAG01_20_20240901_154256.mp3'}
{'SessionKey': 0, 'timestamp': '01:39:00.391', 'Utc': '2024-09-01T13:46:48.7688602Z', 'RacingNumber': '20', 'Path': 'TeamRadio/KEVMAG01_20_20240901_154635.mp3'}
{'SessionKey': 0, 'timestamp': '01:39:00.391', 'Utc': '2024-09-01T13:46:48.7688602Z', 'RacingNumber': '20', 'Path': 'TeamRadio/KEVMAG01_20_20240901_154635.mp3'}
{'SessionKey': 0, 'timestamp': '01:41:14.421', 'Utc': '2024-09-01T13:49:02.812Z', 'RacingNumber': '11', 'Path': 'TeamRadio/SERPER01_11_20240901_154840.mp3'}
{'SessionKey': 0, 'timestamp': '01:42:20.473', 'Utc': '2024-09-01T13:50:07.97Z', 'RacingNumber': '1', 'Path': 'TeamRadio/MAXVER01_1_20240901_154937.mp3'}
{'SessionKey': 0, 'timestamp': '01:42:54.138', 'Utc': '2024-09-01T13:50:40.544Z', 'RacingNumber': '4', 'Path': 'TeamRadio/LANNOR01_4_20240901_155020.mp3'}
{'SessionKey': 0, 'timestamp': '01:44:00.095', 'Utc': '2024-09-01T13:51:48.288Z', 'RacingNumber': '23', 'Path': 'TeamRadio/ALEALB01_23_20240901_155118.mp3'}
{'SessionKey': 0, 'timestamp': '01:46:45.765', 'Utc': '2024-09-01T13:54:33.848Z', 'RacingNumber': '81', 'Path': 'TeamRadio/OSCPIA01_81_20240901_155413.mp3'}
{'SessionKey': 0, 'timestamp': '01:47:20.006', 'Utc': '2024-09-01T13:55:05.845Z', 'RacingNumber': '1', 'Path': 'TeamRadio/MAXVER01_1_20240901_155456.mp3'}
{'SessionKey': 0, 'timestamp': '01:49:00.318', 'Utc': '2024-09-01T13:56:45.334Z', 'RacingNumber': '81', 'Path': 'TeamRadio/OSCPIA01_81_20240901_155610.mp3'}
{'SessionKey': 0, 'timestamp': '01:54:28.874', 'Utc': '2024-09-01T14:02:15.576Z', 'RacingNumber': '44', 'Path': 'TeamRadio/LEWHAM01_44_20240901_160143.mp3'}
{'SessionKey': 0, 'timestamp': '01:55:02.046', 'Utc': '2024-09-01T14:02:50.226Z', 'RacingNumber': '4', 'Path': 'TeamRadio/LANNOR01_4_20240901_160239.mp3'}
{'SessionKey': 0, 'timestamp': '01:55:02.046', 'Utc': '2024-09-01T14:02:50.226Z', 'RacingNumber': '4', 'Path': 'TeamRadio/LANNOR01_4_20240901_160239.mp3'}
{'SessionKey': 0, 'timestamp': '01:57:14.152', 'Utc': '2024-09-01T14:05:00.859Z', 'RacingNumber': '27', 'Path': 'TeamRadio/NICHUL01_27_20240901_160441.mp3'}
{'SessionKey': 0, 'timestamp': '01:58:53.702', 'Utc': '2024-09-01T14:06:40.856Z', 'RacingNumber': '55', 'Path': 'TeamRadio/CARSAI01_55_20240901_160606.mp3'}
{'SessionKey': 0, 'timestamp': '01:59:27.098', 'Utc': '2024-09-01T14:07:13.723Z', 'RacingNumber': '44', 'Path': 'TeamRadio/LEWHAM01_44_20240901_160647.mp3'}
{'SessionKey': 0, 'timestamp': '02:01:39.760', 'Utc': '2024-09-01T14:09:26.375Z', 'RacingNumber': '16', 'Path': 'TeamRadio/CHALEC01_16_20240901_160915.mp3'}
{'SessionKey': 0, 'timestamp': '02:02:12.999', 'Utc': '2024-09-01T14:10:01.38Z', 'RacingNumber': '63', 'Path': 'TeamRadio/GEORUS01_63_20240901_160942.mp3'}
{'SessionKey': 0, 'timestamp': '02:04:24.776', 'Utc': '2024-09-01T14:12:11.742Z', 'RacingNumber': '1', 'Path': 'TeamRadio/MAXVER01_1_20240901_161140.mp3'}
{'SessionKey': 0, 'timestamp': '02:12:41.757', 'Utc': '2024-09-01T14:20:29.053Z', 'RacingNumber': '16', 'Path': 'TeamRadio/CHALEC01_16_20240901_161929.mp3'}
{'SessionKey': 0, 'timestamp': '02:12:50.731', 'Utc': '2024-09-01T14:20:34.649Z', 'RacingNumber': '3', 'Path': 'TeamRadio/DANRIC01_3_20240901_163049.mp3'}
{'SessionKey': 0, 'timestamp': '02:12:50.731', 'Utc': '2024-09-01T14:20:34.649Z', 'RacingNumber': '3', 'Path': 'TeamRadio/DANRIC01_3_20240901_163049.mp3'}
{'SessionKey': 0, 'timestamp': '02:12:50.731', 'Utc': '2024-09-01T14:20:34.649Z', 'RacingNumber': '3', 'Path': 'TeamRadio/DANRIC01_3_20240901_163049.mp3'}
{'SessionKey': 0, 'timestamp': '02:12:50.731', 'Utc': '2024-09-01T14:20:34.649Z', 'RacingNumber': '3', 'Path': 'TeamRadio/DANRIC01_3_20240901_163049.mp3'}
{'SessionKey': 0, 'timestamp': '02:12:50.731', 'Utc': '2024-09-01T14:20:34.649Z', 'RacingNumber': '3', 'Path': 'TeamRadio/DANRIC01_3_20240901_163049.mp3'}

In [29]:
pd.DataFrame(records)

,SessionKey,timestamp,AirTemp,Humidity,Pressure,Rainfall,TrackTemp,WindDirection,WindSpeed
0,0,00:00:26.141,33.2,38.0,993.8,0,52.1,318,0.7
1,0,00:01:26.139,33.2,37.0,993.9,0,52.1,207,1.0
2,0,00:02:26.141,33.2,37.0,993.9,0,52.8,230,1.3
3,0,00:03:26.146,33.2,36.0,993.8,0,52.8,200,0.7
4,0,00:04:26.151,33.3,36.0,993.8,0,52.8,182,0.8
...,...,...,...,...,...,...,...,...,...
128,0,02:08:26.615,32.2,33.0,992.7,0,43.9,213,1.4
129,0,02:09:26.629,32.2,32.0,992.9,0,43.8,207,1.7
130,0,02:10:26.648,32.2,32.0,992.8,0,43.8,218,1.8
131,0,02:11:26.663,32.2,32.0,992.7,0,43.6,220,1.6
132,0,02:12:26.670,32.2,32.0,992.8,0,43.5,229,1.9

In [13]:
records = []

def parse_helper(info, record, prefix=""):
    for info_k, info_v in info.items():
        if isinstance(info_v, list): record = {**record, **{**{info_k + "_" + str(sector_no+1) + "_" + k : v  for sector_no in range(len(info_v)) for k,v in info_v[sector_no].items()}}}
        elif isinstance(info_v, dict): record = parse_helper(info_v, record, prefix= prefix + info_k + "_")
        else: record = {**record, **{prefix + info_k : info_v}}
    return record

for ts, value in data.items():
    if "Withheld" in value.keys(): withTheId = value["Withheld"]
    else: withTheId = None
    
    for driver_no, info in value["Lines"].items():
        record= {
                "SessionKey" : 0,
                "timestamp" : ts,
                "DriverNo" : driver_no
            }

        record = parse_helper(info, record)

        records.append(record)

In [15]:
pd.DataFrame(records).dtypes

SessionKey                        int64
timestamp                        object
DriverNo                         object
Line                            float64
RacingNumber                     object
PersonalBestLapTime_Value        object
BestSectors_1_Value              object
BestSectors_2_Value              object
BestSectors_3_Value              object
BestSpeeds_I1_Value              object
BestSpeeds_I2_Value              object
BestSpeeds_FL_Value              object
BestSpeeds_ST_Value              object
BestSpeeds_ST_Position          float64
BestSpeeds_I1_Position          float64
BestSectors_1_Position          float64
BestSpeeds_I2_Position          float64
BestSpeeds_FL_Position          float64
BestSectors_2_Position          float64
BestSectors_0_Position          float64
BestSectors_0_Value              object
PersonalBestLapTime_Lap         float64
PersonalBestLapTime_Position    float64
dtype: object

In [25]:
records = []
for ts, ts_value in data.items():
    for driver_no, driver_data in ts_value.items():
        if isinstance(driver_data["LapPosition"], list):
            for position in driver_data["LapPosition"]:
                record = {
                        "SessionKey" : 0,
                        "timestamp" : ts,
                        "DriverNo" : driver_no,
                        "Lap" : 0,
                        "LapPosition" : position
                    }
                records.append(record)
            
        
        elif isinstance(driver_data["LapPosition"], dict):
            for lap, position in driver_data["LapPosition"].items():
                record = {
                        "SessionKey" : 0,
                        "timestamp" : ts,
                        "DriverNo" : driver_no,
                        "Lap" : lap,
                        "LapPosition" : position
                    }
                records.append(record)
    
pd.DataFrame(records)

      SessionKey     timestamp DriverNo Lap LapPosition
0              0  00:00:02.591        4   0           1
1              0  00:00:02.591       81   0           2
2              0  00:00:02.591       63   0           3
3              0  00:00:02.591       16   0           4
4              0  00:00:02.591       55   0           5
...          ...           ...      ...  ..         ...
1023           0  02:11:29.953       20  53           9
1024           0  02:11:39.081       23  53           9
1025           0  02:11:40.232       14  53          11
1026           0  02:11:50.230        3  53          12
1027           0  02:11:52.996       43  53          12

[1028 rows x 5 columns]

In [27]:
def parse_helper(info, record, prefix=""):
    for info_k, info_v in info.items():

        if isinstance(info_v, list):
            record = {
                **record,
                **{
                    **{info_k + "_" + str(sector_no+1) + "_" + k : v  for sector_no in range(len(info_v)) for k,v in info_v[sector_no].items()}
                }
            }

        elif isinstance(info_v, dict):
            record = parse_helper(info_v, record, prefix= prefix + info_k + "_")
            # record = {
            #     **record,
            #     **{
            #         info_k + "_" + k : v for k,v in info_v.items()
            #     }
            # }

        else:
            record = {
                **record,
                **{
                    prefix + info_k : info_v 
                }
            }
    
    return record

records = []
for ts, value in data.items():
    if "Withheld" in value.keys(): withTheId = value["Withheld"]
    else: withTheId = None
    
    for driver_no, info in value["Lines"].items():
        record= {
                "SessionKey" : 0,
                "timestamp" : ts,
                "DriverNo" : driver_no
            }

        record = parse_helper(info, record)

        records.append(record)

df = pd.DataFrame(records)

AttributeError: 'list' object has no attribute 'items'

In [4]:
df

,SessionKey,timestamp,DriverNo,GapToLeader,IntervalToPositionAhead_Value,IntervalToPositionAhead_Catching,Line,Position,ShowPosition,RacingNumber,...,Sectors_2_Segments_7_Status,Sectors_1_PreviousValue,Sectors_2_PreviousValue,NumberOfLaps,Sectors_0_Value,Sectors_0_OverallFastest,Sectors_0_PersonalFastest,Sectors_0_PreviousValue,BestLapTime_Lap,NumberOfPitStops
0,0,00:00:02.591,4,LAP 1,LAP 1,False,1.0,1,True,4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0,00:00:02.591,81,,,False,2.0,2,True,81,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,0,00:00:02.591,63,,,False,3.0,3,True,63,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,0,00:00:02.591,16,,,False,4.0,4,True,16,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,0,00:00:02.591,55,,,False,5.0,5,True,55,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46370,0,02:12:50.731,31,1L,NaN,True,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46371,0,02:12:50.731,22,46L,45L,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46372,0,02:12:50.731,18,1L,NaN,True,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46373,0,02:12:50.731,77,1L,NaN,True,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46374,0,02:12:50.731,24,1L,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
df["BestLapTime_Value"]

0
1
2
3
4
        ...
28918    NaN
28919    NaN
28920    NaN
28921    NaN
28922    NaN
Name: BestLapTime_Value, Length: 28923, dtype: object

In [9]:
data['00:00:02.591']["Lines"]["4"]

{'GapToLeader': '',
 'IntervalToPositionAhead': {'Value': '', 'Catching': False},
 'Line': 1,
 'Position': '1',
 'ShowPosition': True,
 'RacingNumber': '4',
 'Retired': False,
 'InPit': True,
 'PitOut': False,
 'Stopped': False,
 'Status': 80,
 'Sectors': [{'Stopped': False,
   'Value': '',
   'Status': 0,
   'OverallFastest': False,
   'PersonalFastest': False},
  {'Stopped': False,
   'Value': '',
   'Status': 0,
   'OverallFastest': False,
   'PersonalFastest': False},
  {'Stopped': False,
   'Value': '',
   'Status': 0,
   'OverallFastest': False,
   'PersonalFastest': False}],
 'Speeds': {'I1': {'Value': '',
   'Status': 0,
   'OverallFastest': False,
   'PersonalFastest': False},
  'I2': {'Value': '',
   'Status': 0,
   'OverallFastest': False,
   'PersonalFastest': False},
  'FL': {'Value': '',
   'Status': 0,
   'OverallFastest': False,
   'PersonalFastest': False},
  'ST': {'Value': '',
   'Status': 0,
   'OverallFastest': False,
   'PersonalFastest': False}},
 'BestLapTime': {'Value': ''},
 'LastLapTime': {'Value': '',
  'Status': 0,
  'OverallFastest': False,
  'PersonalFastest': False}}

In [1]:
session_key = 10
records = []
for key, info in data.items():
    record = {
        **{
            "session_key": session_key,
            "timestamp": key,
        },
        **info
    }
    # yield record
    records.append(record)


pd.DataFrame(records)

NameError: name 'LivetimingF1GetData' is not defined

In [20]:
records = []

endpoint = "https://livetiming.formula1.com/static/2020/2020-07-05_Austrian_Grand_Prix/2020-07-05_Race/SessionData.jsonStream"
# endpoint = "https://livetiming.formula1.com/static/2020/2020-07-05_Austrian_Grand_Prix/2020-07-03_Practice_1/SessionData.jsonStream"
data = LivetimingF1GetData(endpoint, stream=True)
data

records = []
list(list(data.values())[0].values())[0]

for key, value in data.items():
    for driver_no, info in value.items():
        try:
            record = {
                **list(info.values())[0]
            }
            records.append(record)
        except:
            pass
        
pd.DataFrame(records)

                         Utc   Lap SessionStatus TrackStatus
0    2020-07-05T12:40:04.65Z   1.0           NaN         NaN
1   2020-07-05T13:12:47.228Z   NaN       Started         NaN
2   2020-07-05T13:13:58.983Z   2.0           NaN         NaN
3    2020-07-05T13:15:08.42Z   3.0           NaN         NaN
4   2020-07-05T13:16:18.019Z   4.0           NaN         NaN
..                       ...   ...           ...         ...
83  2020-07-05T14:42:12.361Z   NaN           NaN    AllClear
84  2020-07-05T14:42:34.813Z  71.0           NaN         NaN
85  2020-07-05T14:43:43.214Z   NaN      Finished         NaN
86   2020-07-05T14:47:24.24Z   NaN     Finalised         NaN
87  2020-07-05T14:47:24.633Z   NaN          Ends         NaN

[88 rows x 4 columns]

In [22]:
seasons = [
    "2020",
    "2021",
    "2022",
    "2023",
    "2024"
]

season = get_season("2024")

for year in seasons[0:2]:
    print(year)
    try:
        season = get_season(year)
        for meeting in season.meetings[0:2]:
            print(meeting.officialname)
            for session in meeting.sessions:
                try:
                    if hasattr(session,"full_path"):
                        print(session.full_path)
                        display(test(session.full_path))
                except Exception as e:
                    print(e)
                    pass
    except:
        pass

2020
FORMULA 1 ROLEX GROSSER PREIS VON ÖSTERREICH 2020
https://livetiming.formula1.com/static/2020/2020-07-05_Austrian_Grand_Prix/2020-07-03_Practice_1/

                        Utc SessionStatus  TrackStatus
0  2020-07-03T09:00:00.119Z       Started          NaN
1  2020-07-03T10:10:44.359Z           NaN  VSCDeployed
2  2020-07-03T10:11:19.058Z           NaN    VSCEnding
3  2020-07-03T10:11:32.033Z           NaN     AllClear
4  2020-07-03T10:14:14.877Z           NaN       Yellow
5  2020-07-03T10:14:25.646Z           NaN     AllClear
6   2020-07-03T10:19:26.39Z           NaN       Yellow
7  2020-07-03T10:19:35.374Z           NaN     AllClear
8  2020-07-03T09:00:00.119Z       Started          NaN

https://livetiming.formula1.com/static/2020/2020-07-05_Austrian_Grand_Prix/2020-07-03_Practice_2/

                         Utc SessionStatus TrackStatus
0   2020-07-03T13:00:00.101Z       Started         NaN
1   2020-07-03T13:12:17.665Z           NaN      Yellow
2   2020-07-03T13:12:39.554Z           NaN    AllClear
3    2020-07-03T13:13:37.58Z           NaN      Yellow
4   2020-07-03T13:14:01.343Z           NaN    AllClear
5   2020-07-03T13:15:48.965Z           NaN      Yellow
6   2020-07-03T13:16:11.156Z           NaN    AllClear
7    2020-07-03T13:36:17.38Z           NaN      Yellow
8   2020-07-03T13:36:24.592Z           NaN    AllClear
9    2020-07-03T14:01:08.16Z           NaN      Yellow
10  2020-07-03T14:01:26.978Z           NaN    AllClear
11  2020-07-03T14:06:08.763Z           NaN      Yellow
12  2020-07-03T14:06:20.553Z           NaN    AllClear
13  2020-07-03T14:16:38.775Z           NaN      Yellow
14  2020-07-03T14:16:48.638Z           NaN    AllClear
15  2020-07-03T14:30:00.108Z      Finished         NaN
16  2020-07-03T14:36:50.238Z     Finalised         NaN
17  2020-07-03T14:48:26.467Z          Ends         NaN

https://livetiming.formula1.com/static/2020/2020-07-05_Austrian_Grand_Prix/2020-07-04_Practice_3/

                        Utc SessionStatus TrackStatus
0  2020-07-04T10:00:00.317Z       Started         NaN
1  2020-07-04T10:23:42.864Z           NaN      Yellow
2  2020-07-04T10:23:48.318Z       Aborted         NaN
3  2020-07-04T10:23:48.468Z           NaN         Red
4  2020-07-04T10:32:17.002Z      Inactive         NaN
5  2020-07-04T10:33:08.758Z           NaN    AllClear
6  2020-07-04T10:34:00.312Z       Started         NaN
7   2020-07-04T11:00:00.38Z      Finished         NaN
8  2020-07-04T11:06:23.904Z     Finalised         NaN
9  2020-07-04T11:06:24.605Z          Ends         NaN

https://livetiming.formula1.com/static/2020/2020-07-05_Austrian_Grand_Prix/2020-07-04_Qualifying/

                         Utc  QualifyingPart SessionStatus TrackStatus
0   2020-07-04T12:47:54.802Z             1.0           NaN         NaN
1   2020-07-04T13:00:00.319Z             NaN       Started         NaN
2   2020-07-04T13:18:00.353Z             NaN      Finished         NaN
3    2020-07-04T13:23:02.27Z             2.0           NaN         NaN
4   2020-07-04T13:23:10.336Z             NaN      Inactive         NaN
5   2020-07-04T13:25:00.329Z             NaN       Started         NaN
6   2020-07-04T13:40:00.306Z             NaN      Finished         NaN
7   2020-07-04T13:46:00.964Z             3.0           NaN         NaN
8   2020-07-04T13:46:07.593Z             NaN      Inactive         NaN
9   2020-07-04T13:48:00.313Z             NaN       Started         NaN
10  2020-07-04T13:59:58.142Z             NaN           NaN      Yellow
11  2020-07-04T14:00:00.327Z             NaN      Finished         NaN
12  2020-07-04T14:00:04.776Z             NaN           NaN    AllClear
13  2020-07-04T14:00:05.783Z             NaN           NaN      Yellow
14  2020-07-04T14:00:09.946Z             NaN           NaN    AllClear
15  2020-07-04T14:03:05.453Z             NaN     Finalised         NaN
16  2020-07-04T14:22:53.893Z             NaN          Ends         NaN

https://livetiming.formula1.com/static/2020/2020-07-05_Austrian_Grand_Prix/2020-07-05_Race/

                         Utc   Lap SessionStatus TrackStatus
0    2020-07-05T12:40:04.65Z   1.0           NaN         NaN
1   2020-07-05T13:12:47.228Z   NaN       Started         NaN
2   2020-07-05T13:13:58.983Z   2.0           NaN         NaN
3    2020-07-05T13:15:08.42Z   3.0           NaN         NaN
4   2020-07-05T13:16:18.019Z   4.0           NaN         NaN
..                       ...   ...           ...         ...
83  2020-07-05T14:42:12.361Z   NaN           NaN    AllClear
84  2020-07-05T14:42:34.813Z  71.0           NaN         NaN
85  2020-07-05T14:43:43.214Z   NaN      Finished         NaN
86   2020-07-05T14:47:24.24Z   NaN     Finalised         NaN
87  2020-07-05T14:47:24.633Z   NaN          Ends         NaN

[88 rows x 4 columns]

https://livetiming.formula1.com/static/2020/2020-07-05_Austrian_Grand_Prix/2020-07-03_Practice_1/

                        Utc SessionStatus  TrackStatus
0  2020-07-03T09:00:00.119Z       Started          NaN
1  2020-07-03T10:10:44.359Z           NaN  VSCDeployed
2  2020-07-03T10:11:19.058Z           NaN    VSCEnding
3  2020-07-03T10:11:32.033Z           NaN     AllClear
4  2020-07-03T10:14:14.877Z           NaN       Yellow
5  2020-07-03T10:14:25.646Z           NaN     AllClear
6   2020-07-03T10:19:26.39Z           NaN       Yellow
7  2020-07-03T10:19:35.374Z           NaN     AllClear
8  2020-07-03T09:00:00.119Z       Started          NaN

https://livetiming.formula1.com/static/2020/2020-07-05_Austrian_Grand_Prix/2020-07-03_Practice_2/

                         Utc SessionStatus TrackStatus
0   2020-07-03T13:00:00.101Z       Started         NaN
1   2020-07-03T13:12:17.665Z           NaN      Yellow
2   2020-07-03T13:12:39.554Z           NaN    AllClear
3    2020-07-03T13:13:37.58Z           NaN      Yellow
4   2020-07-03T13:14:01.343Z           NaN    AllClear
5   2020-07-03T13:15:48.965Z           NaN      Yellow
6   2020-07-03T13:16:11.156Z           NaN    AllClear
7    2020-07-03T13:36:17.38Z           NaN      Yellow
8   2020-07-03T13:36:24.592Z           NaN    AllClear
9    2020-07-03T14:01:08.16Z           NaN      Yellow
10  2020-07-03T14:01:26.978Z           NaN    AllClear
11  2020-07-03T14:06:08.763Z           NaN      Yellow
12  2020-07-03T14:06:20.553Z           NaN    AllClear
13  2020-07-03T14:16:38.775Z           NaN      Yellow
14  2020-07-03T14:16:48.638Z           NaN    AllClear
15  2020-07-03T14:30:00.108Z      Finished         NaN
16  2020-07-03T14:36:50.238Z     Finalised         NaN
17  2020-07-03T14:48:26.467Z          Ends         NaN

https://livetiming.formula1.com/static/2020/2020-07-05_Austrian_Grand_Prix/2020-07-04_Practice_3/

                        Utc SessionStatus TrackStatus
0  2020-07-04T10:00:00.317Z       Started         NaN
1  2020-07-04T10:23:42.864Z           NaN      Yellow
2  2020-07-04T10:23:48.318Z       Aborted         NaN
3  2020-07-04T10:23:48.468Z           NaN         Red
4  2020-07-04T10:32:17.002Z      Inactive         NaN
5  2020-07-04T10:33:08.758Z           NaN    AllClear
6  2020-07-04T10:34:00.312Z       Started         NaN
7   2020-07-04T11:00:00.38Z      Finished         NaN
8  2020-07-04T11:06:23.904Z     Finalised         NaN
9  2020-07-04T11:06:24.605Z          Ends         NaN

https://livetiming.formula1.com/static/2020/2020-07-05_Austrian_Grand_Prix/2020-07-04_Qualifying/

                         Utc  QualifyingPart SessionStatus TrackStatus
0   2020-07-04T12:47:54.802Z             1.0           NaN         NaN
1   2020-07-04T13:00:00.319Z             NaN       Started         NaN
2   2020-07-04T13:18:00.353Z             NaN      Finished         NaN
3    2020-07-04T13:23:02.27Z             2.0           NaN         NaN
4   2020-07-04T13:23:10.336Z             NaN      Inactive         NaN
5   2020-07-04T13:25:00.329Z             NaN       Started         NaN
6   2020-07-04T13:40:00.306Z             NaN      Finished         NaN
7   2020-07-04T13:46:00.964Z             3.0           NaN         NaN
8   2020-07-04T13:46:07.593Z             NaN      Inactive         NaN
9   2020-07-04T13:48:00.313Z             NaN       Started         NaN
10  2020-07-04T13:59:58.142Z             NaN           NaN      Yellow
11  2020-07-04T14:00:00.327Z             NaN      Finished         NaN
12  2020-07-04T14:00:04.776Z             NaN           NaN    AllClear
13  2020-07-04T14:00:05.783Z             NaN           NaN      Yellow
14  2020-07-04T14:00:09.946Z             NaN           NaN    AllClear
15  2020-07-04T14:03:05.453Z             NaN     Finalised         NaN
16  2020-07-04T14:22:53.893Z             NaN          Ends         NaN

https://livetiming.formula1.com/static/2020/2020-07-05_Austrian_Grand_Prix/2020-07-05_Race/

                         Utc   Lap SessionStatus TrackStatus
0    2020-07-05T12:40:04.65Z   1.0           NaN         NaN
1   2020-07-05T13:12:47.228Z   NaN       Started         NaN
2   2020-07-05T13:13:58.983Z   2.0           NaN         NaN
3    2020-07-05T13:15:08.42Z   3.0           NaN         NaN
4   2020-07-05T13:16:18.019Z   4.0           NaN         NaN
..                       ...   ...           ...         ...
83  2020-07-05T14:42:12.361Z   NaN           NaN    AllClear
84  2020-07-05T14:42:34.813Z  71.0           NaN         NaN
85  2020-07-05T14:43:43.214Z   NaN      Finished         NaN
86   2020-07-05T14:47:24.24Z   NaN     Finalised         NaN
87  2020-07-05T14:47:24.633Z   NaN          Ends         NaN

[88 rows x 4 columns]

FORMULA 1 PIRELLI GROSSER PREIS DER STEIERMARK 2020
https://livetiming.formula1.com/static/2020/2020-07-12_Styrian_Grand_Prix/2020-07-10_Practice_1/

                         Utc SessionStatus  TrackStatus
0   2020-07-10T09:00:00.278Z       Started          NaN
1   2020-07-10T09:27:36.744Z           NaN       Yellow
2   2020-07-10T09:28:08.152Z           NaN  VSCDeployed
3   2020-07-10T09:30:09.275Z       Aborted          NaN
4   2020-07-10T09:30:09.498Z           NaN          Red
5   2020-07-10T09:32:27.027Z      Inactive          NaN
6   2020-07-10T09:33:02.792Z           NaN     AllClear
7   2020-07-10T09:34:00.286Z       Started          NaN
8   2020-07-10T10:27:10.547Z           NaN       Yellow
9   2020-07-10T10:27:32.746Z           NaN     AllClear
10  2020-07-10T10:30:00.285Z      Finished          NaN
11  2020-07-10T10:35:42.239Z     Finalised          NaN
12  2020-07-10T10:45:23.759Z          Ends          NaN

https://livetiming.formula1.com/static/2020/2020-07-12_Styrian_Grand_Prix/2020-07-10_Practice_2/

                         Utc SessionStatus TrackStatus
0   2020-07-10T13:05:00.289Z       Started         NaN
1   2020-07-10T13:17:49.349Z           NaN      Yellow
2   2020-07-10T13:17:59.955Z       Aborted         NaN
3   2020-07-10T13:18:00.048Z           NaN         Red
4   2020-07-10T13:28:23.818Z      Inactive         NaN
5    2020-07-10T13:29:00.94Z           NaN    AllClear
6   2020-07-10T13:30:00.284Z       Started         NaN
7   2020-07-10T13:38:30.276Z           NaN      Yellow
8   2020-07-10T13:38:47.676Z           NaN    AllClear
9   2020-07-10T14:19:14.115Z           NaN      Yellow
10  2020-07-10T14:19:39.626Z           NaN    AllClear
11  2020-07-10T14:35:00.296Z      Finished         NaN
12  2020-07-10T14:40:41.944Z     Finalised         NaN
13  2020-07-10T14:49:06.985Z          Ends         NaN

https://livetiming.formula1.com/static/2020/2020-07-12_Styrian_Grand_Prix/2020-07-11_Practice_3/

                        Utc SessionStatus
0  2020-07-11T10:43:28.274Z     Finalised
1  2020-07-11T10:59:40.634Z          Ends

https://livetiming.formula1.com/static/2020/2020-07-12_Styrian_Grand_Prix/2020-07-11_Qualifying/

                         Utc  QualifyingPart SessionStatus TrackStatus
0    2020-07-11T12:46:51.02Z             0.0           NaN         NaN
1   2020-07-11T12:46:53.361Z             1.0           NaN         NaN
2   2020-07-11T13:46:00.096Z             NaN       Started         NaN
3   2020-07-11T13:53:14.281Z             NaN           NaN      Yellow
4   2020-07-11T13:53:17.516Z             NaN           NaN    AllClear
5   2020-07-11T14:02:12.938Z             NaN           NaN      Yellow
6   2020-07-11T14:02:27.731Z             NaN           NaN    AllClear
7   2020-07-11T14:03:31.417Z             NaN           NaN      Yellow
8   2020-07-11T14:03:47.913Z             NaN       Aborted         NaN
9   2020-07-11T14:03:48.074Z             NaN           NaN         Red
10   2020-07-11T14:07:48.86Z             NaN           NaN    AllClear
11  2020-07-11T14:09:00.985Z             2.0           NaN         NaN
12  2020-07-11T14:09:14.846Z             NaN      Inactive         NaN
13   2020-07-11T14:11:00.08Z             NaN       Started         NaN
14  2020-07-11T14:26:00.108Z             NaN      Finished         NaN
15  2020-07-11T14:32:02.029Z             3.0           NaN         NaN
16  2020-07-11T14:32:05.423Z             NaN      Inactive         NaN
17    2020-07-11T14:34:00.1Z             NaN       Started         NaN
18  2020-07-11T14:46:00.096Z             NaN      Finished         NaN
19  2020-07-11T14:46:07.823Z             NaN           NaN      Yellow
20   2020-07-11T14:46:10.17Z             NaN           NaN    AllClear
21  2020-07-11T14:46:29.444Z             NaN           NaN      Yellow
22  2020-07-11T14:46:32.462Z             NaN           NaN    AllClear
23  2020-07-11T14:49:30.488Z             NaN     Finalised         NaN
24  2020-07-11T15:08:46.259Z             NaN          Ends         NaN

https://livetiming.formula1.com/static/2020/2020-07-12_Styrian_Grand_Prix/2020-07-12_Race/

                         Utc   Lap SessionStatus TrackStatus
0   2020-07-12T12:40:05.118Z   1.0           NaN         NaN
1   2020-07-12T13:12:50.825Z   NaN       Started         NaN
2   2020-07-12T13:13:53.959Z   NaN           NaN  SCDeployed
3   2020-07-12T13:14:09.293Z   2.0           NaN         NaN
4   2020-07-12T13:16:14.786Z   3.0           NaN         NaN
..                       ...   ...           ...         ...
74  2020-07-12T14:33:25.306Z  70.0           NaN         NaN
75  2020-07-12T14:34:33.486Z  71.0           NaN         NaN
76  2020-07-12T14:35:41.753Z   NaN      Finished         NaN
77  2020-07-12T14:39:38.755Z   NaN     Finalised         NaN
78  2020-07-12T14:41:29.623Z   NaN          Ends         NaN

[79 rows x 4 columns]

https://livetiming.formula1.com/static/2020/2020-07-12_Styrian_Grand_Prix/2020-07-10_Practice_1/

                         Utc SessionStatus  TrackStatus
0   2020-07-10T09:00:00.278Z       Started          NaN
1   2020-07-10T09:27:36.744Z           NaN       Yellow
2   2020-07-10T09:28:08.152Z           NaN  VSCDeployed
3   2020-07-10T09:30:09.275Z       Aborted          NaN
4   2020-07-10T09:30:09.498Z           NaN          Red
5   2020-07-10T09:32:27.027Z      Inactive          NaN
6   2020-07-10T09:33:02.792Z           NaN     AllClear
7   2020-07-10T09:34:00.286Z       Started          NaN
8   2020-07-10T10:27:10.547Z           NaN       Yellow
9   2020-07-10T10:27:32.746Z           NaN     AllClear
10  2020-07-10T10:30:00.285Z      Finished          NaN
11  2020-07-10T10:35:42.239Z     Finalised          NaN
12  2020-07-10T10:45:23.759Z          Ends          NaN

https://livetiming.formula1.com/static/2020/2020-07-12_Styrian_Grand_Prix/2020-07-10_Practice_2/

                         Utc SessionStatus TrackStatus
0   2020-07-10T13:05:00.289Z       Started         NaN
1   2020-07-10T13:17:49.349Z           NaN      Yellow
2   2020-07-10T13:17:59.955Z       Aborted         NaN
3   2020-07-10T13:18:00.048Z           NaN         Red
4   2020-07-10T13:28:23.818Z      Inactive         NaN
5    2020-07-10T13:29:00.94Z           NaN    AllClear
6   2020-07-10T13:30:00.284Z       Started         NaN
7   2020-07-10T13:38:30.276Z           NaN      Yellow
8   2020-07-10T13:38:47.676Z           NaN    AllClear
9   2020-07-10T14:19:14.115Z           NaN      Yellow
10  2020-07-10T14:19:39.626Z           NaN    AllClear
11  2020-07-10T14:35:00.296Z      Finished         NaN
12  2020-07-10T14:40:41.944Z     Finalised         NaN
13  2020-07-10T14:49:06.985Z          Ends         NaN

https://livetiming.formula1.com/static/2020/2020-07-12_Styrian_Grand_Prix/2020-07-11_Practice_3/

                        Utc SessionStatus
0  2020-07-11T10:43:28.274Z     Finalised
1  2020-07-11T10:59:40.634Z          Ends

https://livetiming.formula1.com/static/2020/2020-07-12_Styrian_Grand_Prix/2020-07-11_Qualifying/

                         Utc  QualifyingPart SessionStatus TrackStatus
0    2020-07-11T12:46:51.02Z             0.0           NaN         NaN
1   2020-07-11T12:46:53.361Z             1.0           NaN         NaN
2   2020-07-11T13:46:00.096Z             NaN       Started         NaN
3   2020-07-11T13:53:14.281Z             NaN           NaN      Yellow
4   2020-07-11T13:53:17.516Z             NaN           NaN    AllClear
5   2020-07-11T14:02:12.938Z             NaN           NaN      Yellow
6   2020-07-11T14:02:27.731Z             NaN           NaN    AllClear
7   2020-07-11T14:03:31.417Z             NaN           NaN      Yellow
8   2020-07-11T14:03:47.913Z             NaN       Aborted         NaN
9   2020-07-11T14:03:48.074Z             NaN           NaN         Red
10   2020-07-11T14:07:48.86Z             NaN           NaN    AllClear
11  2020-07-11T14:09:00.985Z             2.0           NaN         NaN
12  2020-07-11T14:09:14.846Z             NaN      Inactive         NaN
13   2020-07-11T14:11:00.08Z             NaN       Started         NaN
14  2020-07-11T14:26:00.108Z             NaN      Finished         NaN
15  2020-07-11T14:32:02.029Z             3.0           NaN         NaN
16  2020-07-11T14:32:05.423Z             NaN      Inactive         NaN
17    2020-07-11T14:34:00.1Z             NaN       Started         NaN
18  2020-07-11T14:46:00.096Z             NaN      Finished         NaN
19  2020-07-11T14:46:07.823Z             NaN           NaN      Yellow
20   2020-07-11T14:46:10.17Z             NaN           NaN    AllClear
21  2020-07-11T14:46:29.444Z             NaN           NaN      Yellow
22  2020-07-11T14:46:32.462Z             NaN           NaN    AllClear
23  2020-07-11T14:49:30.488Z             NaN     Finalised         NaN
24  2020-07-11T15:08:46.259Z             NaN          Ends         NaN

https://livetiming.formula1.com/static/2020/2020-07-12_Styrian_Grand_Prix/2020-07-12_Race/

                         Utc   Lap SessionStatus TrackStatus
0   2020-07-12T12:40:05.118Z   1.0           NaN         NaN
1   2020-07-12T13:12:50.825Z   NaN       Started         NaN
2   2020-07-12T13:13:53.959Z   NaN           NaN  SCDeployed
3   2020-07-12T13:14:09.293Z   2.0           NaN         NaN
4   2020-07-12T13:16:14.786Z   3.0           NaN         NaN
..                       ...   ...           ...         ...
74  2020-07-12T14:33:25.306Z  70.0           NaN         NaN
75  2020-07-12T14:34:33.486Z  71.0           NaN         NaN
76  2020-07-12T14:35:41.753Z   NaN      Finished         NaN
77  2020-07-12T14:39:38.755Z   NaN     Finalised         NaN
78  2020-07-12T14:41:29.623Z   NaN          Ends         NaN

[79 rows x 4 columns]

2021
FORMULA 1 GULF AIR BAHRAIN GRAND PRIX 2021
https://livetiming.formula1.com/static/2021/2021-03-28_Bahrain_Grand_Prix/2021-03-26_Practice_1/

                        Utc SessionStatus
0  2021-03-26T11:30:00.246Z       Started
1   2021-03-26T12:30:00.24Z      Finished
2  2021-03-26T12:34:08.505Z          Ends

https://livetiming.formula1.com/static/2021/2021-03-28_Bahrain_Grand_Prix/2021-03-26_Practice_2/

                         Utc SessionStatus TrackStatus
0    2021-03-26T15:00:00.24Z       Started         NaN
1   2021-03-26T15:03:06.502Z           NaN      Yellow
2   2021-03-26T15:03:14.188Z           NaN    AllClear
3   2021-03-26T15:11:20.569Z           NaN      Yellow
4   2021-03-26T15:11:25.106Z           NaN    AllClear
5   2021-03-26T16:00:00.251Z      Finished         NaN
6   2021-03-26T16:03:43.236Z           NaN      Yellow
7   2021-03-26T16:03:47.513Z           NaN    AllClear
8   2021-03-26T16:03:50.903Z           NaN      Yellow
9   2021-03-26T16:03:57.986Z           NaN    AllClear
10  2021-03-26T16:04:01.191Z     Finalised         NaN
11  2021-03-26T16:06:51.684Z          Ends         NaN

https://livetiming.formula1.com/static/2021/2021-03-28_Bahrain_Grand_Prix/2021-03-27_Practice_3/

                        Utc SessionStatus TrackStatus
0  2021-03-27T12:00:00.243Z       Started         NaN
1      2021-03-27T12:18:59Z           NaN      Yellow
2  2021-03-27T12:19:09.757Z           NaN    AllClear
3  2021-03-27T12:30:31.777Z           NaN      Yellow
4  2021-03-27T12:30:55.585Z           NaN    AllClear
5  2021-03-27T13:00:00.262Z      Finished         NaN
6  2021-03-27T13:03:36.864Z     Finalised         NaN
7  2021-03-27T13:03:38.585Z          Ends         NaN

https://livetiming.formula1.com/static/2021/2021-03-28_Bahrain_Grand_Prix/2021-03-27_Qualifying/

                         Utc  QualifyingPart SessionStatus TrackStatus
0   2021-03-27T14:45:02.691Z             0.0           NaN         NaN
1    2021-03-27T14:45:05.32Z             1.0           NaN         NaN
2   2021-03-27T15:00:00.251Z             NaN       Started         NaN
3   2021-03-27T15:03:57.481Z             NaN           NaN      Yellow
4   2021-03-27T15:04:01.804Z             NaN           NaN    AllClear
5    2021-03-27T15:18:00.29Z             NaN      Finished         NaN
6   2021-03-27T15:18:08.008Z             NaN           NaN      Yellow
7    2021-03-27T15:19:08.51Z             NaN           NaN    AllClear
8   2021-03-27T15:23:02.041Z             2.0           NaN         NaN
9   2021-03-27T15:23:11.225Z             NaN      Inactive         NaN
10  2021-03-27T15:25:00.253Z             NaN       Started         NaN
11  2021-03-27T15:40:00.328Z             NaN      Finished         NaN
12  2021-03-27T15:46:01.178Z             3.0           NaN         NaN
13  2021-03-27T15:46:07.411Z             NaN      Inactive         NaN
14  2021-03-27T15:48:00.251Z             NaN       Started         NaN
15  2021-03-27T16:00:00.249Z             NaN      Finished         NaN
16  2021-03-27T16:03:33.178Z             NaN     Finalised         NaN
17  2021-03-27T16:22:26.347Z             NaN          Ends         NaN

https://livetiming.formula1.com/static/2021/2021-03-28_Bahrain_Grand_Prix/2021-03-28_Race/

                         Utc   Lap TrackStatus SessionStatus
0   2021-03-28T14:30:05.404Z   1.0         NaN           NaN
1   2021-03-28T14:57:39.927Z   NaN      Yellow           NaN
2   2021-03-28T14:57:41.297Z   NaN    AllClear           NaN
3   2021-03-28T15:07:09.979Z   NaN         NaN       Started
4   2021-03-28T15:07:35.006Z   NaN      Yellow           NaN
..                       ...   ...         ...           ...
66  2021-03-28T16:34:29.681Z  54.0         NaN           NaN
67  2021-03-28T16:36:04.541Z  55.0         NaN           NaN
68  2021-03-28T16:37:39.233Z  56.0         NaN           NaN
69  2021-03-28T16:39:14.123Z   NaN         NaN      Finished
70  2021-03-28T16:43:05.467Z   NaN         NaN          Ends

[71 rows x 4 columns]

https://livetiming.formula1.com/static/2021/2021-03-28_Bahrain_Grand_Prix/2021-03-26_Practice_1/

                        Utc SessionStatus
0  2021-03-26T11:30:00.246Z       Started
1   2021-03-26T12:30:00.24Z      Finished
2  2021-03-26T12:34:08.505Z          Ends

https://livetiming.formula1.com/static/2021/2021-03-28_Bahrain_Grand_Prix/2021-03-26_Practice_2/

                         Utc SessionStatus TrackStatus
0    2021-03-26T15:00:00.24Z       Started         NaN
1   2021-03-26T15:03:06.502Z           NaN      Yellow
2   2021-03-26T15:03:14.188Z           NaN    AllClear
3   2021-03-26T15:11:20.569Z           NaN      Yellow
4   2021-03-26T15:11:25.106Z           NaN    AllClear
5   2021-03-26T16:00:00.251Z      Finished         NaN
6   2021-03-26T16:03:43.236Z           NaN      Yellow
7   2021-03-26T16:03:47.513Z           NaN    AllClear
8   2021-03-26T16:03:50.903Z           NaN      Yellow
9   2021-03-26T16:03:57.986Z           NaN    AllClear
10  2021-03-26T16:04:01.191Z     Finalised         NaN
11  2021-03-26T16:06:51.684Z          Ends         NaN

https://livetiming.formula1.com/static/2021/2021-03-28_Bahrain_Grand_Prix/2021-03-27_Practice_3/

                        Utc SessionStatus TrackStatus
0  2021-03-27T12:00:00.243Z       Started         NaN
1      2021-03-27T12:18:59Z           NaN      Yellow
2  2021-03-27T12:19:09.757Z           NaN    AllClear
3  2021-03-27T12:30:31.777Z           NaN      Yellow
4  2021-03-27T12:30:55.585Z           NaN    AllClear
5  2021-03-27T13:00:00.262Z      Finished         NaN
6  2021-03-27T13:03:36.864Z     Finalised         NaN
7  2021-03-27T13:03:38.585Z          Ends         NaN

https://livetiming.formula1.com/static/2021/2021-03-28_Bahrain_Grand_Prix/2021-03-27_Qualifying/

                         Utc  QualifyingPart SessionStatus TrackStatus
0   2021-03-27T14:45:02.691Z             0.0           NaN         NaN
1    2021-03-27T14:45:05.32Z             1.0           NaN         NaN
2   2021-03-27T15:00:00.251Z             NaN       Started         NaN
3   2021-03-27T15:03:57.481Z             NaN           NaN      Yellow
4   2021-03-27T15:04:01.804Z             NaN           NaN    AllClear
5    2021-03-27T15:18:00.29Z             NaN      Finished         NaN
6   2021-03-27T15:18:08.008Z             NaN           NaN      Yellow
7    2021-03-27T15:19:08.51Z             NaN           NaN    AllClear
8   2021-03-27T15:23:02.041Z             2.0           NaN         NaN
9   2021-03-27T15:23:11.225Z             NaN      Inactive         NaN
10  2021-03-27T15:25:00.253Z             NaN       Started         NaN
11  2021-03-27T15:40:00.328Z             NaN      Finished         NaN
12  2021-03-27T15:46:01.178Z             3.0           NaN         NaN
13  2021-03-27T15:46:07.411Z             NaN      Inactive         NaN
14  2021-03-27T15:48:00.251Z             NaN       Started         NaN
15  2021-03-27T16:00:00.249Z             NaN      Finished         NaN
16  2021-03-27T16:03:33.178Z             NaN     Finalised         NaN
17  2021-03-27T16:22:26.347Z             NaN          Ends         NaN

https://livetiming.formula1.com/static/2021/2021-03-28_Bahrain_Grand_Prix/2021-03-28_Race/

                         Utc   Lap TrackStatus SessionStatus
0   2021-03-28T14:30:05.404Z   1.0         NaN           NaN
1   2021-03-28T14:57:39.927Z   NaN      Yellow           NaN
2   2021-03-28T14:57:41.297Z   NaN    AllClear           NaN
3   2021-03-28T15:07:09.979Z   NaN         NaN       Started
4   2021-03-28T15:07:35.006Z   NaN      Yellow           NaN
..                       ...   ...         ...           ...
66  2021-03-28T16:34:29.681Z  54.0         NaN           NaN
67  2021-03-28T16:36:04.541Z  55.0         NaN           NaN
68  2021-03-28T16:37:39.233Z  56.0         NaN           NaN
69  2021-03-28T16:39:14.123Z   NaN         NaN      Finished
70  2021-03-28T16:43:05.467Z   NaN         NaN          Ends

[71 rows x 4 columns]

FORMULA 1 PIRELLI GRAN PREMIO DEL MADE IN ITALY E DELL'EMILIA ROMAGNA 2021
https://livetiming.formula1.com/static/2021/2021-04-18_Emilia_Romagna_Grand_Prix/2021-04-16_Practice_2/

                         Utc SessionStatus  TrackStatus
0   2021-04-16T12:30:00.112Z       Started          NaN
1   2021-04-16T12:34:55.106Z           NaN       Yellow
2   2021-04-16T12:34:55.879Z           NaN     AllClear
3   2021-04-16T12:39:52.222Z           NaN       Yellow
4   2021-04-16T12:40:15.209Z           NaN  VSCDeployed
5   2021-04-16T12:41:16.932Z           NaN    VSCEnding
6   2021-04-16T12:41:31.943Z           NaN     AllClear
7   2021-04-16T13:25:57.205Z           NaN       Yellow
8   2021-04-16T13:26:21.092Z       Aborted          NaN
9   2021-04-16T13:26:21.264Z           NaN          Red
10  2021-04-16T13:29:44.377Z           NaN     AllClear
11  2021-04-16T13:31:03.861Z          Ends          NaN

https://livetiming.formula1.com/static/2021/2021-04-18_Emilia_Romagna_Grand_Prix/2021-04-17_Practice_3/

                         Utc SessionStatus TrackStatus
0    2021-04-17T09:00:00.11Z       Started         NaN
1   2021-04-17T09:25:24.312Z           NaN      Yellow
2   2021-04-17T09:25:44.643Z       Aborted         NaN
3   2021-04-17T09:25:44.893Z           NaN         Red
4   2021-04-17T09:28:01.926Z      Inactive         NaN
5    2021-04-17T09:28:02.08Z           NaN    AllClear
6   2021-04-17T09:29:00.138Z       Started         NaN
7    2021-04-17T09:48:58.79Z           NaN      Yellow
8   2021-04-17T09:49:03.246Z           NaN    AllClear
9   2021-04-17T09:55:21.731Z           NaN      Yellow
10  2021-04-17T09:55:40.087Z           NaN    AllClear
11  2021-04-17T10:00:00.118Z      Finished         NaN
12  2021-04-17T10:06:50.361Z          Ends         NaN

https://livetiming.formula1.com/static/2021/2021-04-18_Emilia_Romagna_Grand_Prix/2021-04-17_Qualifying/

                         Utc  QualifyingPart SessionStatus TrackStatus
0    2021-04-17T11:45:03.93Z             1.0           NaN         NaN
1   2021-04-17T12:00:00.107Z             NaN       Started         NaN
2   2021-04-17T12:05:46.658Z             NaN           NaN      Yellow
3    2021-04-17T12:05:59.83Z             NaN       Aborted         NaN
4   2021-04-17T12:05:59.989Z             NaN           NaN         Red
5   2021-04-17T12:12:44.636Z             NaN           NaN    AllClear
6   2021-04-17T12:12:52.954Z             NaN      Inactive         NaN
7   2021-04-17T12:15:00.109Z             NaN       Started         NaN
8   2021-04-17T12:27:01.114Z             NaN      Finished         NaN
9   2021-04-17T12:33:02.332Z             2.0           NaN         NaN
10  2021-04-17T12:33:05.829Z             NaN      Inactive         NaN
11   2021-04-17T12:35:00.11Z             NaN       Started         NaN
12  2021-04-17T12:50:00.122Z             NaN      Finished         NaN
13  2021-04-17T12:56:00.687Z             3.0           NaN         NaN
14  2021-04-17T12:56:07.502Z             NaN      Inactive         NaN
15  2021-04-17T12:58:00.127Z             NaN       Started         NaN
16  2021-04-17T13:10:00.119Z             NaN      Finished         NaN
17  2021-04-17T13:12:37.695Z             NaN     Finalised         NaN
18  2021-04-17T13:12:39.282Z             NaN          Ends         NaN

https://livetiming.formula1.com/static/2021/2021-04-18_Emilia_Romagna_Grand_Prix/2021-04-18_Race/

                         Utc   Lap TrackStatus SessionStatus
0   2021-04-18T12:30:07.653Z   1.0         NaN           NaN
1   2021-04-18T12:33:33.103Z   NaN      Yellow           NaN
2   2021-04-18T12:39:36.351Z   NaN    AllClear           NaN
3   2021-04-18T13:03:15.706Z   NaN         NaN       Started
4   2021-04-18T13:04:32.261Z   NaN      Yellow           NaN
..                       ...   ...         ...           ...
84  2021-04-18T15:03:24.721Z   NaN      Yellow           NaN
85  2021-04-18T15:03:32.718Z   NaN    AllClear           NaN
86  2021-04-18T15:04:32.652Z  63.0         NaN           NaN
87  2021-04-18T15:05:50.523Z   NaN         NaN      Finished
88  2021-04-18T15:11:18.261Z   NaN         NaN          Ends

[89 rows x 4 columns]

https://livetiming.formula1.com/static/2021/2021-04-18_Emilia_Romagna_Grand_Prix/2021-04-16_Practice_2/

                         Utc SessionStatus  TrackStatus
0   2021-04-16T12:30:00.112Z       Started          NaN
1   2021-04-16T12:34:55.106Z           NaN       Yellow
2   2021-04-16T12:34:55.879Z           NaN     AllClear
3   2021-04-16T12:39:52.222Z           NaN       Yellow
4   2021-04-16T12:40:15.209Z           NaN  VSCDeployed
5   2021-04-16T12:41:16.932Z           NaN    VSCEnding
6   2021-04-16T12:41:31.943Z           NaN     AllClear
7   2021-04-16T13:25:57.205Z           NaN       Yellow
8   2021-04-16T13:26:21.092Z       Aborted          NaN
9   2021-04-16T13:26:21.264Z           NaN          Red
10  2021-04-16T13:29:44.377Z           NaN     AllClear
11  2021-04-16T13:31:03.861Z          Ends          NaN

https://livetiming.formula1.com/static/2021/2021-04-18_Emilia_Romagna_Grand_Prix/2021-04-17_Practice_3/

                         Utc SessionStatus TrackStatus
0    2021-04-17T09:00:00.11Z       Started         NaN
1   2021-04-17T09:25:24.312Z           NaN      Yellow
2   2021-04-17T09:25:44.643Z       Aborted         NaN
3   2021-04-17T09:25:44.893Z           NaN         Red
4   2021-04-17T09:28:01.926Z      Inactive         NaN
5    2021-04-17T09:28:02.08Z           NaN    AllClear
6   2021-04-17T09:29:00.138Z       Started         NaN
7    2021-04-17T09:48:58.79Z           NaN      Yellow
8   2021-04-17T09:49:03.246Z           NaN    AllClear
9   2021-04-17T09:55:21.731Z           NaN      Yellow
10  2021-04-17T09:55:40.087Z           NaN    AllClear
11  2021-04-17T10:00:00.118Z      Finished         NaN
12  2021-04-17T10:06:50.361Z          Ends         NaN

https://livetiming.formula1.com/static/2021/2021-04-18_Emilia_Romagna_Grand_Prix/2021-04-17_Qualifying/

                         Utc  QualifyingPart SessionStatus TrackStatus
0    2021-04-17T11:45:03.93Z             1.0           NaN         NaN
1   2021-04-17T12:00:00.107Z             NaN       Started         NaN
2   2021-04-17T12:05:46.658Z             NaN           NaN      Yellow
3    2021-04-17T12:05:59.83Z             NaN       Aborted         NaN
4   2021-04-17T12:05:59.989Z             NaN           NaN         Red
5   2021-04-17T12:12:44.636Z             NaN           NaN    AllClear
6   2021-04-17T12:12:52.954Z             NaN      Inactive         NaN
7   2021-04-17T12:15:00.109Z             NaN       Started         NaN
8   2021-04-17T12:27:01.114Z             NaN      Finished         NaN
9   2021-04-17T12:33:02.332Z             2.0           NaN         NaN
10  2021-04-17T12:33:05.829Z             NaN      Inactive         NaN
11   2021-04-17T12:35:00.11Z             NaN       Started         NaN
12  2021-04-17T12:50:00.122Z             NaN      Finished         NaN
13  2021-04-17T12:56:00.687Z             3.0           NaN         NaN
14  2021-04-17T12:56:07.502Z             NaN      Inactive         NaN
15  2021-04-17T12:58:00.127Z             NaN       Started         NaN
16  2021-04-17T13:10:00.119Z             NaN      Finished         NaN
17  2021-04-17T13:12:37.695Z             NaN     Finalised         NaN
18  2021-04-17T13:12:39.282Z             NaN          Ends         NaN

https://livetiming.formula1.com/static/2021/2021-04-18_Emilia_Romagna_Grand_Prix/2021-04-18_Race/

                         Utc   Lap TrackStatus SessionStatus
0   2021-04-18T12:30:07.653Z   1.0         NaN           NaN
1   2021-04-18T12:33:33.103Z   NaN      Yellow           NaN
2   2021-04-18T12:39:36.351Z   NaN    AllClear           NaN
3   2021-04-18T13:03:15.706Z   NaN         NaN       Started
4   2021-04-18T13:04:32.261Z   NaN      Yellow           NaN
..                       ...   ...         ...           ...
84  2021-04-18T15:03:24.721Z   NaN      Yellow           NaN
85  2021-04-18T15:03:32.718Z   NaN    AllClear           NaN
86  2021-04-18T15:04:32.652Z  63.0         NaN           NaN
87  2021-04-18T15:05:50.523Z   NaN         NaN      Finished
88  2021-04-18T15:11:18.261Z   NaN         NaN          Ends

[89 rows x 4 columns]