In [1]:
from liveF1Wrapper.adapter import LivetimingF1Adapter, LivetimingF1Request, LivetimingF1GetData
from liveF1Wrapper.season import Season
from liveF1Wrapper.functions import *
from liveF1Wrapper.events import *
import urllib
import json
import numpy as np

In [5]:
data

{'00:00:03.103': {'Utc': '2024-09-01T12:07:47.021Z',
  'Remaining': '00:00:00',
  'Extrapolating': False},
 '00:00:55.095': {'Utc': '2024-09-01T12:08:39.013Z', 'Remaining': '02:00:00'},
 '00:55:51.090': {'Utc': '2024-09-01T13:03:35.008Z',
  'Remaining': '01:59:59',
  'Extrapolating': True}}

In [4]:
endpoint = "https://livetiming.formula1.com/static/2024/2024-09-01_Italian_Grand_Prix/2024-09-01_Race/ExtrapolatedClock.jsonStream"
data = LivetimingF1GetData(endpoint, stream=True)
data


session_key = 10
records = []
for key, info in data.items():
    record = {
        **{
            "session_key": session_key,
            "timestamp": key,
        },
        **info
    }
    # yield record
    records.append(record)


pd.DataFrame(records)

TypeError: 'str' object is not a mapping

In [20]:
records = []

endpoint = "https://livetiming.formula1.com/static/2020/2020-07-05_Austrian_Grand_Prix/2020-07-05_Race/SessionData.jsonStream"
# endpoint = "https://livetiming.formula1.com/static/2020/2020-07-05_Austrian_Grand_Prix/2020-07-03_Practice_1/SessionData.jsonStream"
data = LivetimingF1GetData(endpoint, stream=True)
data

records = []
list(list(data.values())[0].values())[0]

for key, value in data.items():
    for driver_no, info in value.items():
        try:
            record = {
                **list(info.values())[0]
            }
            records.append(record)
        except:
            pass
        
pd.DataFrame(records)

                         Utc   Lap SessionStatus TrackStatus
0    2020-07-05T12:40:04.65Z   1.0           NaN         NaN
1   2020-07-05T13:12:47.228Z   NaN       Started         NaN
2   2020-07-05T13:13:58.983Z   2.0           NaN         NaN
3    2020-07-05T13:15:08.42Z   3.0           NaN         NaN
4   2020-07-05T13:16:18.019Z   4.0           NaN         NaN
..                       ...   ...           ...         ...
83  2020-07-05T14:42:12.361Z   NaN           NaN    AllClear
84  2020-07-05T14:42:34.813Z  71.0           NaN         NaN
85  2020-07-05T14:43:43.214Z   NaN      Finished         NaN
86   2020-07-05T14:47:24.24Z   NaN     Finalised         NaN
87  2020-07-05T14:47:24.633Z   NaN          Ends         NaN

[88 rows x 4 columns]

In [22]:
seasons = [
    "2020",
    "2021",
    "2022",
    "2023",
    "2024"
]

season = get_season("2024")

for year in seasons[0:2]:
    print(year)
    try:
        season = get_season(year)
        for meeting in season.meetings[0:2]:
            print(meeting.officialname)
            for session in meeting.sessions:
                try:
                    if hasattr(session,"full_path"):
                        print(session.full_path)
                        display(test(session.full_path))
                except Exception as e:
                    print(e)
                    pass
    except:
        pass

2020
FORMULA 1 ROLEX GROSSER PREIS VON ÖSTERREICH 2020
https://livetiming.formula1.com/static/2020/2020-07-05_Austrian_Grand_Prix/2020-07-03_Practice_1/

                        Utc SessionStatus  TrackStatus
0  2020-07-03T09:00:00.119Z       Started          NaN
1  2020-07-03T10:10:44.359Z           NaN  VSCDeployed
2  2020-07-03T10:11:19.058Z           NaN    VSCEnding
3  2020-07-03T10:11:32.033Z           NaN     AllClear
4  2020-07-03T10:14:14.877Z           NaN       Yellow
5  2020-07-03T10:14:25.646Z           NaN     AllClear
6   2020-07-03T10:19:26.39Z           NaN       Yellow
7  2020-07-03T10:19:35.374Z           NaN     AllClear
8  2020-07-03T09:00:00.119Z       Started          NaN

https://livetiming.formula1.com/static/2020/2020-07-05_Austrian_Grand_Prix/2020-07-03_Practice_2/

                         Utc SessionStatus TrackStatus
0   2020-07-03T13:00:00.101Z       Started         NaN
1   2020-07-03T13:12:17.665Z           NaN      Yellow
2   2020-07-03T13:12:39.554Z           NaN    AllClear
3    2020-07-03T13:13:37.58Z           NaN      Yellow
4   2020-07-03T13:14:01.343Z           NaN    AllClear
5   2020-07-03T13:15:48.965Z           NaN      Yellow
6   2020-07-03T13:16:11.156Z           NaN    AllClear
7    2020-07-03T13:36:17.38Z           NaN      Yellow
8   2020-07-03T13:36:24.592Z           NaN    AllClear
9    2020-07-03T14:01:08.16Z           NaN      Yellow
10  2020-07-03T14:01:26.978Z           NaN    AllClear
11  2020-07-03T14:06:08.763Z           NaN      Yellow
12  2020-07-03T14:06:20.553Z           NaN    AllClear
13  2020-07-03T14:16:38.775Z           NaN      Yellow
14  2020-07-03T14:16:48.638Z           NaN    AllClear
15  2020-07-03T14:30:00.108Z      Finished         NaN
16  2020-07-03T14:36:50.238Z     Finalised         NaN
17  2020-07-03T14:48:26.467Z          Ends         NaN

https://livetiming.formula1.com/static/2020/2020-07-05_Austrian_Grand_Prix/2020-07-04_Practice_3/

                        Utc SessionStatus TrackStatus
0  2020-07-04T10:00:00.317Z       Started         NaN
1  2020-07-04T10:23:42.864Z           NaN      Yellow
2  2020-07-04T10:23:48.318Z       Aborted         NaN
3  2020-07-04T10:23:48.468Z           NaN         Red
4  2020-07-04T10:32:17.002Z      Inactive         NaN
5  2020-07-04T10:33:08.758Z           NaN    AllClear
6  2020-07-04T10:34:00.312Z       Started         NaN
7   2020-07-04T11:00:00.38Z      Finished         NaN
8  2020-07-04T11:06:23.904Z     Finalised         NaN
9  2020-07-04T11:06:24.605Z          Ends         NaN

https://livetiming.formula1.com/static/2020/2020-07-05_Austrian_Grand_Prix/2020-07-04_Qualifying/

                         Utc  QualifyingPart SessionStatus TrackStatus
0   2020-07-04T12:47:54.802Z             1.0           NaN         NaN
1   2020-07-04T13:00:00.319Z             NaN       Started         NaN
2   2020-07-04T13:18:00.353Z             NaN      Finished         NaN
3    2020-07-04T13:23:02.27Z             2.0           NaN         NaN
4   2020-07-04T13:23:10.336Z             NaN      Inactive         NaN
5   2020-07-04T13:25:00.329Z             NaN       Started         NaN
6   2020-07-04T13:40:00.306Z             NaN      Finished         NaN
7   2020-07-04T13:46:00.964Z             3.0           NaN         NaN
8   2020-07-04T13:46:07.593Z             NaN      Inactive         NaN
9   2020-07-04T13:48:00.313Z             NaN       Started         NaN
10  2020-07-04T13:59:58.142Z             NaN           NaN      Yellow
11  2020-07-04T14:00:00.327Z             NaN      Finished         NaN
12  2020-07-04T14:00:04.776Z             NaN           NaN    AllClear
13  2020-07-04T14:00:05.783Z             NaN           NaN      Yellow
14  2020-07-04T14:00:09.946Z             NaN           NaN    AllClear
15  2020-07-04T14:03:05.453Z             NaN     Finalised         NaN
16  2020-07-04T14:22:53.893Z             NaN          Ends         NaN

https://livetiming.formula1.com/static/2020/2020-07-05_Austrian_Grand_Prix/2020-07-05_Race/

                         Utc   Lap SessionStatus TrackStatus
0    2020-07-05T12:40:04.65Z   1.0           NaN         NaN
1   2020-07-05T13:12:47.228Z   NaN       Started         NaN
2   2020-07-05T13:13:58.983Z   2.0           NaN         NaN
3    2020-07-05T13:15:08.42Z   3.0           NaN         NaN
4   2020-07-05T13:16:18.019Z   4.0           NaN         NaN
..                       ...   ...           ...         ...
83  2020-07-05T14:42:12.361Z   NaN           NaN    AllClear
84  2020-07-05T14:42:34.813Z  71.0           NaN         NaN
85  2020-07-05T14:43:43.214Z   NaN      Finished         NaN
86   2020-07-05T14:47:24.24Z   NaN     Finalised         NaN
87  2020-07-05T14:47:24.633Z   NaN          Ends         NaN

[88 rows x 4 columns]

https://livetiming.formula1.com/static/2020/2020-07-05_Austrian_Grand_Prix/2020-07-03_Practice_1/

                        Utc SessionStatus  TrackStatus
0  2020-07-03T09:00:00.119Z       Started          NaN
1  2020-07-03T10:10:44.359Z           NaN  VSCDeployed
2  2020-07-03T10:11:19.058Z           NaN    VSCEnding
3  2020-07-03T10:11:32.033Z           NaN     AllClear
4  2020-07-03T10:14:14.877Z           NaN       Yellow
5  2020-07-03T10:14:25.646Z           NaN     AllClear
6   2020-07-03T10:19:26.39Z           NaN       Yellow
7  2020-07-03T10:19:35.374Z           NaN     AllClear
8  2020-07-03T09:00:00.119Z       Started          NaN

https://livetiming.formula1.com/static/2020/2020-07-05_Austrian_Grand_Prix/2020-07-03_Practice_2/

                         Utc SessionStatus TrackStatus
0   2020-07-03T13:00:00.101Z       Started         NaN
1   2020-07-03T13:12:17.665Z           NaN      Yellow
2   2020-07-03T13:12:39.554Z           NaN    AllClear
3    2020-07-03T13:13:37.58Z           NaN      Yellow
4   2020-07-03T13:14:01.343Z           NaN    AllClear
5   2020-07-03T13:15:48.965Z           NaN      Yellow
6   2020-07-03T13:16:11.156Z           NaN    AllClear
7    2020-07-03T13:36:17.38Z           NaN      Yellow
8   2020-07-03T13:36:24.592Z           NaN    AllClear
9    2020-07-03T14:01:08.16Z           NaN      Yellow
10  2020-07-03T14:01:26.978Z           NaN    AllClear
11  2020-07-03T14:06:08.763Z           NaN      Yellow
12  2020-07-03T14:06:20.553Z           NaN    AllClear
13  2020-07-03T14:16:38.775Z           NaN      Yellow
14  2020-07-03T14:16:48.638Z           NaN    AllClear
15  2020-07-03T14:30:00.108Z      Finished         NaN
16  2020-07-03T14:36:50.238Z     Finalised         NaN
17  2020-07-03T14:48:26.467Z          Ends         NaN

https://livetiming.formula1.com/static/2020/2020-07-05_Austrian_Grand_Prix/2020-07-04_Practice_3/

                        Utc SessionStatus TrackStatus
0  2020-07-04T10:00:00.317Z       Started         NaN
1  2020-07-04T10:23:42.864Z           NaN      Yellow
2  2020-07-04T10:23:48.318Z       Aborted         NaN
3  2020-07-04T10:23:48.468Z           NaN         Red
4  2020-07-04T10:32:17.002Z      Inactive         NaN
5  2020-07-04T10:33:08.758Z           NaN    AllClear
6  2020-07-04T10:34:00.312Z       Started         NaN
7   2020-07-04T11:00:00.38Z      Finished         NaN
8  2020-07-04T11:06:23.904Z     Finalised         NaN
9  2020-07-04T11:06:24.605Z          Ends         NaN

https://livetiming.formula1.com/static/2020/2020-07-05_Austrian_Grand_Prix/2020-07-04_Qualifying/

                         Utc  QualifyingPart SessionStatus TrackStatus
0   2020-07-04T12:47:54.802Z             1.0           NaN         NaN
1   2020-07-04T13:00:00.319Z             NaN       Started         NaN
2   2020-07-04T13:18:00.353Z             NaN      Finished         NaN
3    2020-07-04T13:23:02.27Z             2.0           NaN         NaN
4   2020-07-04T13:23:10.336Z             NaN      Inactive         NaN
5   2020-07-04T13:25:00.329Z             NaN       Started         NaN
6   2020-07-04T13:40:00.306Z             NaN      Finished         NaN
7   2020-07-04T13:46:00.964Z             3.0           NaN         NaN
8   2020-07-04T13:46:07.593Z             NaN      Inactive         NaN
9   2020-07-04T13:48:00.313Z             NaN       Started         NaN
10  2020-07-04T13:59:58.142Z             NaN           NaN      Yellow
11  2020-07-04T14:00:00.327Z             NaN      Finished         NaN
12  2020-07-04T14:00:04.776Z             NaN           NaN    AllClear
13  2020-07-04T14:00:05.783Z             NaN           NaN      Yellow
14  2020-07-04T14:00:09.946Z             NaN           NaN    AllClear
15  2020-07-04T14:03:05.453Z             NaN     Finalised         NaN
16  2020-07-04T14:22:53.893Z             NaN          Ends         NaN

https://livetiming.formula1.com/static/2020/2020-07-05_Austrian_Grand_Prix/2020-07-05_Race/

                         Utc   Lap SessionStatus TrackStatus
0    2020-07-05T12:40:04.65Z   1.0           NaN         NaN
1   2020-07-05T13:12:47.228Z   NaN       Started         NaN
2   2020-07-05T13:13:58.983Z   2.0           NaN         NaN
3    2020-07-05T13:15:08.42Z   3.0           NaN         NaN
4   2020-07-05T13:16:18.019Z   4.0           NaN         NaN
..                       ...   ...           ...         ...
83  2020-07-05T14:42:12.361Z   NaN           NaN    AllClear
84  2020-07-05T14:42:34.813Z  71.0           NaN         NaN
85  2020-07-05T14:43:43.214Z   NaN      Finished         NaN
86   2020-07-05T14:47:24.24Z   NaN     Finalised         NaN
87  2020-07-05T14:47:24.633Z   NaN          Ends         NaN

[88 rows x 4 columns]

FORMULA 1 PIRELLI GROSSER PREIS DER STEIERMARK 2020
https://livetiming.formula1.com/static/2020/2020-07-12_Styrian_Grand_Prix/2020-07-10_Practice_1/

                         Utc SessionStatus  TrackStatus
0   2020-07-10T09:00:00.278Z       Started          NaN
1   2020-07-10T09:27:36.744Z           NaN       Yellow
2   2020-07-10T09:28:08.152Z           NaN  VSCDeployed
3   2020-07-10T09:30:09.275Z       Aborted          NaN
4   2020-07-10T09:30:09.498Z           NaN          Red
5   2020-07-10T09:32:27.027Z      Inactive          NaN
6   2020-07-10T09:33:02.792Z           NaN     AllClear
7   2020-07-10T09:34:00.286Z       Started          NaN
8   2020-07-10T10:27:10.547Z           NaN       Yellow
9   2020-07-10T10:27:32.746Z           NaN     AllClear
10  2020-07-10T10:30:00.285Z      Finished          NaN
11  2020-07-10T10:35:42.239Z     Finalised          NaN
12  2020-07-10T10:45:23.759Z          Ends          NaN

https://livetiming.formula1.com/static/2020/2020-07-12_Styrian_Grand_Prix/2020-07-10_Practice_2/

                         Utc SessionStatus TrackStatus
0   2020-07-10T13:05:00.289Z       Started         NaN
1   2020-07-10T13:17:49.349Z           NaN      Yellow
2   2020-07-10T13:17:59.955Z       Aborted         NaN
3   2020-07-10T13:18:00.048Z           NaN         Red
4   2020-07-10T13:28:23.818Z      Inactive         NaN
5    2020-07-10T13:29:00.94Z           NaN    AllClear
6   2020-07-10T13:30:00.284Z       Started         NaN
7   2020-07-10T13:38:30.276Z           NaN      Yellow
8   2020-07-10T13:38:47.676Z           NaN    AllClear
9   2020-07-10T14:19:14.115Z           NaN      Yellow
10  2020-07-10T14:19:39.626Z           NaN    AllClear
11  2020-07-10T14:35:00.296Z      Finished         NaN
12  2020-07-10T14:40:41.944Z     Finalised         NaN
13  2020-07-10T14:49:06.985Z          Ends         NaN

https://livetiming.formula1.com/static/2020/2020-07-12_Styrian_Grand_Prix/2020-07-11_Practice_3/

                        Utc SessionStatus
0  2020-07-11T10:43:28.274Z     Finalised
1  2020-07-11T10:59:40.634Z          Ends

https://livetiming.formula1.com/static/2020/2020-07-12_Styrian_Grand_Prix/2020-07-11_Qualifying/

                         Utc  QualifyingPart SessionStatus TrackStatus
0    2020-07-11T12:46:51.02Z             0.0           NaN         NaN
1   2020-07-11T12:46:53.361Z             1.0           NaN         NaN
2   2020-07-11T13:46:00.096Z             NaN       Started         NaN
3   2020-07-11T13:53:14.281Z             NaN           NaN      Yellow
4   2020-07-11T13:53:17.516Z             NaN           NaN    AllClear
5   2020-07-11T14:02:12.938Z             NaN           NaN      Yellow
6   2020-07-11T14:02:27.731Z             NaN           NaN    AllClear
7   2020-07-11T14:03:31.417Z             NaN           NaN      Yellow
8   2020-07-11T14:03:47.913Z             NaN       Aborted         NaN
9   2020-07-11T14:03:48.074Z             NaN           NaN         Red
10   2020-07-11T14:07:48.86Z             NaN           NaN    AllClear
11  2020-07-11T14:09:00.985Z             2.0           NaN         NaN
12  2020-07-11T14:09:14.846Z             NaN      Inactive         NaN
13   2020-07-11T14:11:00.08Z             NaN       Started         NaN
14  2020-07-11T14:26:00.108Z             NaN      Finished         NaN
15  2020-07-11T14:32:02.029Z             3.0           NaN         NaN
16  2020-07-11T14:32:05.423Z             NaN      Inactive         NaN
17    2020-07-11T14:34:00.1Z             NaN       Started         NaN
18  2020-07-11T14:46:00.096Z             NaN      Finished         NaN
19  2020-07-11T14:46:07.823Z             NaN           NaN      Yellow
20   2020-07-11T14:46:10.17Z             NaN           NaN    AllClear
21  2020-07-11T14:46:29.444Z             NaN           NaN      Yellow
22  2020-07-11T14:46:32.462Z             NaN           NaN    AllClear
23  2020-07-11T14:49:30.488Z             NaN     Finalised         NaN
24  2020-07-11T15:08:46.259Z             NaN          Ends         NaN

https://livetiming.formula1.com/static/2020/2020-07-12_Styrian_Grand_Prix/2020-07-12_Race/

                         Utc   Lap SessionStatus TrackStatus
0   2020-07-12T12:40:05.118Z   1.0           NaN         NaN
1   2020-07-12T13:12:50.825Z   NaN       Started         NaN
2   2020-07-12T13:13:53.959Z   NaN           NaN  SCDeployed
3   2020-07-12T13:14:09.293Z   2.0           NaN         NaN
4   2020-07-12T13:16:14.786Z   3.0           NaN         NaN
..                       ...   ...           ...         ...
74  2020-07-12T14:33:25.306Z  70.0           NaN         NaN
75  2020-07-12T14:34:33.486Z  71.0           NaN         NaN
76  2020-07-12T14:35:41.753Z   NaN      Finished         NaN
77  2020-07-12T14:39:38.755Z   NaN     Finalised         NaN
78  2020-07-12T14:41:29.623Z   NaN          Ends         NaN

[79 rows x 4 columns]

https://livetiming.formula1.com/static/2020/2020-07-12_Styrian_Grand_Prix/2020-07-10_Practice_1/

                         Utc SessionStatus  TrackStatus
0   2020-07-10T09:00:00.278Z       Started          NaN
1   2020-07-10T09:27:36.744Z           NaN       Yellow
2   2020-07-10T09:28:08.152Z           NaN  VSCDeployed
3   2020-07-10T09:30:09.275Z       Aborted          NaN
4   2020-07-10T09:30:09.498Z           NaN          Red
5   2020-07-10T09:32:27.027Z      Inactive          NaN
6   2020-07-10T09:33:02.792Z           NaN     AllClear
7   2020-07-10T09:34:00.286Z       Started          NaN
8   2020-07-10T10:27:10.547Z           NaN       Yellow
9   2020-07-10T10:27:32.746Z           NaN     AllClear
10  2020-07-10T10:30:00.285Z      Finished          NaN
11  2020-07-10T10:35:42.239Z     Finalised          NaN
12  2020-07-10T10:45:23.759Z          Ends          NaN

https://livetiming.formula1.com/static/2020/2020-07-12_Styrian_Grand_Prix/2020-07-10_Practice_2/

                         Utc SessionStatus TrackStatus
0   2020-07-10T13:05:00.289Z       Started         NaN
1   2020-07-10T13:17:49.349Z           NaN      Yellow
2   2020-07-10T13:17:59.955Z       Aborted         NaN
3   2020-07-10T13:18:00.048Z           NaN         Red
4   2020-07-10T13:28:23.818Z      Inactive         NaN
5    2020-07-10T13:29:00.94Z           NaN    AllClear
6   2020-07-10T13:30:00.284Z       Started         NaN
7   2020-07-10T13:38:30.276Z           NaN      Yellow
8   2020-07-10T13:38:47.676Z           NaN    AllClear
9   2020-07-10T14:19:14.115Z           NaN      Yellow
10  2020-07-10T14:19:39.626Z           NaN    AllClear
11  2020-07-10T14:35:00.296Z      Finished         NaN
12  2020-07-10T14:40:41.944Z     Finalised         NaN
13  2020-07-10T14:49:06.985Z          Ends         NaN

https://livetiming.formula1.com/static/2020/2020-07-12_Styrian_Grand_Prix/2020-07-11_Practice_3/

                        Utc SessionStatus
0  2020-07-11T10:43:28.274Z     Finalised
1  2020-07-11T10:59:40.634Z          Ends

https://livetiming.formula1.com/static/2020/2020-07-12_Styrian_Grand_Prix/2020-07-11_Qualifying/

                         Utc  QualifyingPart SessionStatus TrackStatus
0    2020-07-11T12:46:51.02Z             0.0           NaN         NaN
1   2020-07-11T12:46:53.361Z             1.0           NaN         NaN
2   2020-07-11T13:46:00.096Z             NaN       Started         NaN
3   2020-07-11T13:53:14.281Z             NaN           NaN      Yellow
4   2020-07-11T13:53:17.516Z             NaN           NaN    AllClear
5   2020-07-11T14:02:12.938Z             NaN           NaN      Yellow
6   2020-07-11T14:02:27.731Z             NaN           NaN    AllClear
7   2020-07-11T14:03:31.417Z             NaN           NaN      Yellow
8   2020-07-11T14:03:47.913Z             NaN       Aborted         NaN
9   2020-07-11T14:03:48.074Z             NaN           NaN         Red
10   2020-07-11T14:07:48.86Z             NaN           NaN    AllClear
11  2020-07-11T14:09:00.985Z             2.0           NaN         NaN
12  2020-07-11T14:09:14.846Z             NaN      Inactive         NaN
13   2020-07-11T14:11:00.08Z             NaN       Started         NaN
14  2020-07-11T14:26:00.108Z             NaN      Finished         NaN
15  2020-07-11T14:32:02.029Z             3.0           NaN         NaN
16  2020-07-11T14:32:05.423Z             NaN      Inactive         NaN
17    2020-07-11T14:34:00.1Z             NaN       Started         NaN
18  2020-07-11T14:46:00.096Z             NaN      Finished         NaN
19  2020-07-11T14:46:07.823Z             NaN           NaN      Yellow
20   2020-07-11T14:46:10.17Z             NaN           NaN    AllClear
21  2020-07-11T14:46:29.444Z             NaN           NaN      Yellow
22  2020-07-11T14:46:32.462Z             NaN           NaN    AllClear
23  2020-07-11T14:49:30.488Z             NaN     Finalised         NaN
24  2020-07-11T15:08:46.259Z             NaN          Ends         NaN

https://livetiming.formula1.com/static/2020/2020-07-12_Styrian_Grand_Prix/2020-07-12_Race/

                         Utc   Lap SessionStatus TrackStatus
0   2020-07-12T12:40:05.118Z   1.0           NaN         NaN
1   2020-07-12T13:12:50.825Z   NaN       Started         NaN
2   2020-07-12T13:13:53.959Z   NaN           NaN  SCDeployed
3   2020-07-12T13:14:09.293Z   2.0           NaN         NaN
4   2020-07-12T13:16:14.786Z   3.0           NaN         NaN
..                       ...   ...           ...         ...
74  2020-07-12T14:33:25.306Z  70.0           NaN         NaN
75  2020-07-12T14:34:33.486Z  71.0           NaN         NaN
76  2020-07-12T14:35:41.753Z   NaN      Finished         NaN
77  2020-07-12T14:39:38.755Z   NaN     Finalised         NaN
78  2020-07-12T14:41:29.623Z   NaN          Ends         NaN

[79 rows x 4 columns]

2021
FORMULA 1 GULF AIR BAHRAIN GRAND PRIX 2021
https://livetiming.formula1.com/static/2021/2021-03-28_Bahrain_Grand_Prix/2021-03-26_Practice_1/

                        Utc SessionStatus
0  2021-03-26T11:30:00.246Z       Started
1   2021-03-26T12:30:00.24Z      Finished
2  2021-03-26T12:34:08.505Z          Ends

https://livetiming.formula1.com/static/2021/2021-03-28_Bahrain_Grand_Prix/2021-03-26_Practice_2/

                         Utc SessionStatus TrackStatus
0    2021-03-26T15:00:00.24Z       Started         NaN
1   2021-03-26T15:03:06.502Z           NaN      Yellow
2   2021-03-26T15:03:14.188Z           NaN    AllClear
3   2021-03-26T15:11:20.569Z           NaN      Yellow
4   2021-03-26T15:11:25.106Z           NaN    AllClear
5   2021-03-26T16:00:00.251Z      Finished         NaN
6   2021-03-26T16:03:43.236Z           NaN      Yellow
7   2021-03-26T16:03:47.513Z           NaN    AllClear
8   2021-03-26T16:03:50.903Z           NaN      Yellow
9   2021-03-26T16:03:57.986Z           NaN    AllClear
10  2021-03-26T16:04:01.191Z     Finalised         NaN
11  2021-03-26T16:06:51.684Z          Ends         NaN

https://livetiming.formula1.com/static/2021/2021-03-28_Bahrain_Grand_Prix/2021-03-27_Practice_3/

                        Utc SessionStatus TrackStatus
0  2021-03-27T12:00:00.243Z       Started         NaN
1      2021-03-27T12:18:59Z           NaN      Yellow
2  2021-03-27T12:19:09.757Z           NaN    AllClear
3  2021-03-27T12:30:31.777Z           NaN      Yellow
4  2021-03-27T12:30:55.585Z           NaN    AllClear
5  2021-03-27T13:00:00.262Z      Finished         NaN
6  2021-03-27T13:03:36.864Z     Finalised         NaN
7  2021-03-27T13:03:38.585Z          Ends         NaN

https://livetiming.formula1.com/static/2021/2021-03-28_Bahrain_Grand_Prix/2021-03-27_Qualifying/

                         Utc  QualifyingPart SessionStatus TrackStatus
0   2021-03-27T14:45:02.691Z             0.0           NaN         NaN
1    2021-03-27T14:45:05.32Z             1.0           NaN         NaN
2   2021-03-27T15:00:00.251Z             NaN       Started         NaN
3   2021-03-27T15:03:57.481Z             NaN           NaN      Yellow
4   2021-03-27T15:04:01.804Z             NaN           NaN    AllClear
5    2021-03-27T15:18:00.29Z             NaN      Finished         NaN
6   2021-03-27T15:18:08.008Z             NaN           NaN      Yellow
7    2021-03-27T15:19:08.51Z             NaN           NaN    AllClear
8   2021-03-27T15:23:02.041Z             2.0           NaN         NaN
9   2021-03-27T15:23:11.225Z             NaN      Inactive         NaN
10  2021-03-27T15:25:00.253Z             NaN       Started         NaN
11  2021-03-27T15:40:00.328Z             NaN      Finished         NaN
12  2021-03-27T15:46:01.178Z             3.0           NaN         NaN
13  2021-03-27T15:46:07.411Z             NaN      Inactive         NaN
14  2021-03-27T15:48:00.251Z             NaN       Started         NaN
15  2021-03-27T16:00:00.249Z             NaN      Finished         NaN
16  2021-03-27T16:03:33.178Z             NaN     Finalised         NaN
17  2021-03-27T16:22:26.347Z             NaN          Ends         NaN

https://livetiming.formula1.com/static/2021/2021-03-28_Bahrain_Grand_Prix/2021-03-28_Race/

                         Utc   Lap TrackStatus SessionStatus
0   2021-03-28T14:30:05.404Z   1.0         NaN           NaN
1   2021-03-28T14:57:39.927Z   NaN      Yellow           NaN
2   2021-03-28T14:57:41.297Z   NaN    AllClear           NaN
3   2021-03-28T15:07:09.979Z   NaN         NaN       Started
4   2021-03-28T15:07:35.006Z   NaN      Yellow           NaN
..                       ...   ...         ...           ...
66  2021-03-28T16:34:29.681Z  54.0         NaN           NaN
67  2021-03-28T16:36:04.541Z  55.0         NaN           NaN
68  2021-03-28T16:37:39.233Z  56.0         NaN           NaN
69  2021-03-28T16:39:14.123Z   NaN         NaN      Finished
70  2021-03-28T16:43:05.467Z   NaN         NaN          Ends

[71 rows x 4 columns]

https://livetiming.formula1.com/static/2021/2021-03-28_Bahrain_Grand_Prix/2021-03-26_Practice_1/

                        Utc SessionStatus
0  2021-03-26T11:30:00.246Z       Started
1   2021-03-26T12:30:00.24Z      Finished
2  2021-03-26T12:34:08.505Z          Ends

https://livetiming.formula1.com/static/2021/2021-03-28_Bahrain_Grand_Prix/2021-03-26_Practice_2/

                         Utc SessionStatus TrackStatus
0    2021-03-26T15:00:00.24Z       Started         NaN
1   2021-03-26T15:03:06.502Z           NaN      Yellow
2   2021-03-26T15:03:14.188Z           NaN    AllClear
3   2021-03-26T15:11:20.569Z           NaN      Yellow
4   2021-03-26T15:11:25.106Z           NaN    AllClear
5   2021-03-26T16:00:00.251Z      Finished         NaN
6   2021-03-26T16:03:43.236Z           NaN      Yellow
7   2021-03-26T16:03:47.513Z           NaN    AllClear
8   2021-03-26T16:03:50.903Z           NaN      Yellow
9   2021-03-26T16:03:57.986Z           NaN    AllClear
10  2021-03-26T16:04:01.191Z     Finalised         NaN
11  2021-03-26T16:06:51.684Z          Ends         NaN

https://livetiming.formula1.com/static/2021/2021-03-28_Bahrain_Grand_Prix/2021-03-27_Practice_3/

                        Utc SessionStatus TrackStatus
0  2021-03-27T12:00:00.243Z       Started         NaN
1      2021-03-27T12:18:59Z           NaN      Yellow
2  2021-03-27T12:19:09.757Z           NaN    AllClear
3  2021-03-27T12:30:31.777Z           NaN      Yellow
4  2021-03-27T12:30:55.585Z           NaN    AllClear
5  2021-03-27T13:00:00.262Z      Finished         NaN
6  2021-03-27T13:03:36.864Z     Finalised         NaN
7  2021-03-27T13:03:38.585Z          Ends         NaN

https://livetiming.formula1.com/static/2021/2021-03-28_Bahrain_Grand_Prix/2021-03-27_Qualifying/

                         Utc  QualifyingPart SessionStatus TrackStatus
0   2021-03-27T14:45:02.691Z             0.0           NaN         NaN
1    2021-03-27T14:45:05.32Z             1.0           NaN         NaN
2   2021-03-27T15:00:00.251Z             NaN       Started         NaN
3   2021-03-27T15:03:57.481Z             NaN           NaN      Yellow
4   2021-03-27T15:04:01.804Z             NaN           NaN    AllClear
5    2021-03-27T15:18:00.29Z             NaN      Finished         NaN
6   2021-03-27T15:18:08.008Z             NaN           NaN      Yellow
7    2021-03-27T15:19:08.51Z             NaN           NaN    AllClear
8   2021-03-27T15:23:02.041Z             2.0           NaN         NaN
9   2021-03-27T15:23:11.225Z             NaN      Inactive         NaN
10  2021-03-27T15:25:00.253Z             NaN       Started         NaN
11  2021-03-27T15:40:00.328Z             NaN      Finished         NaN
12  2021-03-27T15:46:01.178Z             3.0           NaN         NaN
13  2021-03-27T15:46:07.411Z             NaN      Inactive         NaN
14  2021-03-27T15:48:00.251Z             NaN       Started         NaN
15  2021-03-27T16:00:00.249Z             NaN      Finished         NaN
16  2021-03-27T16:03:33.178Z             NaN     Finalised         NaN
17  2021-03-27T16:22:26.347Z             NaN          Ends         NaN

https://livetiming.formula1.com/static/2021/2021-03-28_Bahrain_Grand_Prix/2021-03-28_Race/

                         Utc   Lap TrackStatus SessionStatus
0   2021-03-28T14:30:05.404Z   1.0         NaN           NaN
1   2021-03-28T14:57:39.927Z   NaN      Yellow           NaN
2   2021-03-28T14:57:41.297Z   NaN    AllClear           NaN
3   2021-03-28T15:07:09.979Z   NaN         NaN       Started
4   2021-03-28T15:07:35.006Z   NaN      Yellow           NaN
..                       ...   ...         ...           ...
66  2021-03-28T16:34:29.681Z  54.0         NaN           NaN
67  2021-03-28T16:36:04.541Z  55.0         NaN           NaN
68  2021-03-28T16:37:39.233Z  56.0         NaN           NaN
69  2021-03-28T16:39:14.123Z   NaN         NaN      Finished
70  2021-03-28T16:43:05.467Z   NaN         NaN          Ends

[71 rows x 4 columns]

FORMULA 1 PIRELLI GRAN PREMIO DEL MADE IN ITALY E DELL'EMILIA ROMAGNA 2021
https://livetiming.formula1.com/static/2021/2021-04-18_Emilia_Romagna_Grand_Prix/2021-04-16_Practice_2/

                         Utc SessionStatus  TrackStatus
0   2021-04-16T12:30:00.112Z       Started          NaN
1   2021-04-16T12:34:55.106Z           NaN       Yellow
2   2021-04-16T12:34:55.879Z           NaN     AllClear
3   2021-04-16T12:39:52.222Z           NaN       Yellow
4   2021-04-16T12:40:15.209Z           NaN  VSCDeployed
5   2021-04-16T12:41:16.932Z           NaN    VSCEnding
6   2021-04-16T12:41:31.943Z           NaN     AllClear
7   2021-04-16T13:25:57.205Z           NaN       Yellow
8   2021-04-16T13:26:21.092Z       Aborted          NaN
9   2021-04-16T13:26:21.264Z           NaN          Red
10  2021-04-16T13:29:44.377Z           NaN     AllClear
11  2021-04-16T13:31:03.861Z          Ends          NaN

https://livetiming.formula1.com/static/2021/2021-04-18_Emilia_Romagna_Grand_Prix/2021-04-17_Practice_3/

                         Utc SessionStatus TrackStatus
0    2021-04-17T09:00:00.11Z       Started         NaN
1   2021-04-17T09:25:24.312Z           NaN      Yellow
2   2021-04-17T09:25:44.643Z       Aborted         NaN
3   2021-04-17T09:25:44.893Z           NaN         Red
4   2021-04-17T09:28:01.926Z      Inactive         NaN
5    2021-04-17T09:28:02.08Z           NaN    AllClear
6   2021-04-17T09:29:00.138Z       Started         NaN
7    2021-04-17T09:48:58.79Z           NaN      Yellow
8   2021-04-17T09:49:03.246Z           NaN    AllClear
9   2021-04-17T09:55:21.731Z           NaN      Yellow
10  2021-04-17T09:55:40.087Z           NaN    AllClear
11  2021-04-17T10:00:00.118Z      Finished         NaN
12  2021-04-17T10:06:50.361Z          Ends         NaN

https://livetiming.formula1.com/static/2021/2021-04-18_Emilia_Romagna_Grand_Prix/2021-04-17_Qualifying/

                         Utc  QualifyingPart SessionStatus TrackStatus
0    2021-04-17T11:45:03.93Z             1.0           NaN         NaN
1   2021-04-17T12:00:00.107Z             NaN       Started         NaN
2   2021-04-17T12:05:46.658Z             NaN           NaN      Yellow
3    2021-04-17T12:05:59.83Z             NaN       Aborted         NaN
4   2021-04-17T12:05:59.989Z             NaN           NaN         Red
5   2021-04-17T12:12:44.636Z             NaN           NaN    AllClear
6   2021-04-17T12:12:52.954Z             NaN      Inactive         NaN
7   2021-04-17T12:15:00.109Z             NaN       Started         NaN
8   2021-04-17T12:27:01.114Z             NaN      Finished         NaN
9   2021-04-17T12:33:02.332Z             2.0           NaN         NaN
10  2021-04-17T12:33:05.829Z             NaN      Inactive         NaN
11   2021-04-17T12:35:00.11Z             NaN       Started         NaN
12  2021-04-17T12:50:00.122Z             NaN      Finished         NaN
13  2021-04-17T12:56:00.687Z             3.0           NaN         NaN
14  2021-04-17T12:56:07.502Z             NaN      Inactive         NaN
15  2021-04-17T12:58:00.127Z             NaN       Started         NaN
16  2021-04-17T13:10:00.119Z             NaN      Finished         NaN
17  2021-04-17T13:12:37.695Z             NaN     Finalised         NaN
18  2021-04-17T13:12:39.282Z             NaN          Ends         NaN

https://livetiming.formula1.com/static/2021/2021-04-18_Emilia_Romagna_Grand_Prix/2021-04-18_Race/

                         Utc   Lap TrackStatus SessionStatus
0   2021-04-18T12:30:07.653Z   1.0         NaN           NaN
1   2021-04-18T12:33:33.103Z   NaN      Yellow           NaN
2   2021-04-18T12:39:36.351Z   NaN    AllClear           NaN
3   2021-04-18T13:03:15.706Z   NaN         NaN       Started
4   2021-04-18T13:04:32.261Z   NaN      Yellow           NaN
..                       ...   ...         ...           ...
84  2021-04-18T15:03:24.721Z   NaN      Yellow           NaN
85  2021-04-18T15:03:32.718Z   NaN    AllClear           NaN
86  2021-04-18T15:04:32.652Z  63.0         NaN           NaN
87  2021-04-18T15:05:50.523Z   NaN         NaN      Finished
88  2021-04-18T15:11:18.261Z   NaN         NaN          Ends

[89 rows x 4 columns]

https://livetiming.formula1.com/static/2021/2021-04-18_Emilia_Romagna_Grand_Prix/2021-04-16_Practice_2/

                         Utc SessionStatus  TrackStatus
0   2021-04-16T12:30:00.112Z       Started          NaN
1   2021-04-16T12:34:55.106Z           NaN       Yellow
2   2021-04-16T12:34:55.879Z           NaN     AllClear
3   2021-04-16T12:39:52.222Z           NaN       Yellow
4   2021-04-16T12:40:15.209Z           NaN  VSCDeployed
5   2021-04-16T12:41:16.932Z           NaN    VSCEnding
6   2021-04-16T12:41:31.943Z           NaN     AllClear
7   2021-04-16T13:25:57.205Z           NaN       Yellow
8   2021-04-16T13:26:21.092Z       Aborted          NaN
9   2021-04-16T13:26:21.264Z           NaN          Red
10  2021-04-16T13:29:44.377Z           NaN     AllClear
11  2021-04-16T13:31:03.861Z          Ends          NaN

https://livetiming.formula1.com/static/2021/2021-04-18_Emilia_Romagna_Grand_Prix/2021-04-17_Practice_3/

                         Utc SessionStatus TrackStatus
0    2021-04-17T09:00:00.11Z       Started         NaN
1   2021-04-17T09:25:24.312Z           NaN      Yellow
2   2021-04-17T09:25:44.643Z       Aborted         NaN
3   2021-04-17T09:25:44.893Z           NaN         Red
4   2021-04-17T09:28:01.926Z      Inactive         NaN
5    2021-04-17T09:28:02.08Z           NaN    AllClear
6   2021-04-17T09:29:00.138Z       Started         NaN
7    2021-04-17T09:48:58.79Z           NaN      Yellow
8   2021-04-17T09:49:03.246Z           NaN    AllClear
9   2021-04-17T09:55:21.731Z           NaN      Yellow
10  2021-04-17T09:55:40.087Z           NaN    AllClear
11  2021-04-17T10:00:00.118Z      Finished         NaN
12  2021-04-17T10:06:50.361Z          Ends         NaN

https://livetiming.formula1.com/static/2021/2021-04-18_Emilia_Romagna_Grand_Prix/2021-04-17_Qualifying/

                         Utc  QualifyingPart SessionStatus TrackStatus
0    2021-04-17T11:45:03.93Z             1.0           NaN         NaN
1   2021-04-17T12:00:00.107Z             NaN       Started         NaN
2   2021-04-17T12:05:46.658Z             NaN           NaN      Yellow
3    2021-04-17T12:05:59.83Z             NaN       Aborted         NaN
4   2021-04-17T12:05:59.989Z             NaN           NaN         Red
5   2021-04-17T12:12:44.636Z             NaN           NaN    AllClear
6   2021-04-17T12:12:52.954Z             NaN      Inactive         NaN
7   2021-04-17T12:15:00.109Z             NaN       Started         NaN
8   2021-04-17T12:27:01.114Z             NaN      Finished         NaN
9   2021-04-17T12:33:02.332Z             2.0           NaN         NaN
10  2021-04-17T12:33:05.829Z             NaN      Inactive         NaN
11   2021-04-17T12:35:00.11Z             NaN       Started         NaN
12  2021-04-17T12:50:00.122Z             NaN      Finished         NaN
13  2021-04-17T12:56:00.687Z             3.0           NaN         NaN
14  2021-04-17T12:56:07.502Z             NaN      Inactive         NaN
15  2021-04-17T12:58:00.127Z             NaN       Started         NaN
16  2021-04-17T13:10:00.119Z             NaN      Finished         NaN
17  2021-04-17T13:12:37.695Z             NaN     Finalised         NaN
18  2021-04-17T13:12:39.282Z             NaN          Ends         NaN

https://livetiming.formula1.com/static/2021/2021-04-18_Emilia_Romagna_Grand_Prix/2021-04-18_Race/

                         Utc   Lap TrackStatus SessionStatus
0   2021-04-18T12:30:07.653Z   1.0         NaN           NaN
1   2021-04-18T12:33:33.103Z   NaN      Yellow           NaN
2   2021-04-18T12:39:36.351Z   NaN    AllClear           NaN
3   2021-04-18T13:03:15.706Z   NaN         NaN       Started
4   2021-04-18T13:04:32.261Z   NaN      Yellow           NaN
..                       ...   ...         ...           ...
84  2021-04-18T15:03:24.721Z   NaN      Yellow           NaN
85  2021-04-18T15:03:32.718Z   NaN    AllClear           NaN
86  2021-04-18T15:04:32.652Z  63.0         NaN           NaN
87  2021-04-18T15:05:50.523Z   NaN         NaN      Finished
88  2021-04-18T15:11:18.261Z   NaN         NaN          Ends

[89 rows x 4 columns]